/* CSS FOR RENDER SALE PAGE */
#page {
  color: var(--color-text);
}
#page .purchase {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 5px 5px;
}
#page .purchase>div {
  padding: 0 5px;
}
#page .purchase img {
  max-width: 150px;
  max-height: 150px;
}
#page .render_sub {
  font-size: 18px;
}
#page p {
  font-size: var(--text);
  margin: 10px;
}
.state_container {
  margin: 30px 0 60px;
}
.state_sale {
  border: 6px solid var(--mid-gray);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  margin: 0 30px;
}
.arm_left, .arm_right {
  width: 35px;
  height: 5px;
  background: var(--mid-gray);
  position: absolute;
  top: 50%;
}
.arm_right {
  right: -40px;
}
.arm_left {
  left: -40px;
}
.payed, .processed {
  border-color: var(--text-success);
  color: var(--text-success);
}
.not_payed, .not_processed {
  border-color: var(--text-warning);
  color: var(--text-warning);
}
.default_state {
  color: var(--mid-gray);
}
.arm_right.payed, .arm_right.processed, .arm_left.processed {
  background: var(--text-success);
}
.arm_right.not_payed, .arm_right.not_processed,
.arm_left.not_payed, .arm_left.not_processed {
  background: var(--text-warning);
}
.icon_state {
  position: absolute;
  left: 16px;
  top: 8px;
  font-size: 48px;
}
.state_text {
  position: absolute;
  left: -58%;
  bottom: -48px;
  font-size: 26px;
  white-space: nowrap;
  transform: translateX(50%);
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.sale_infos_title {
  max-width: 400px;
}
.sale_infos_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item_title {
  font-weight: 600;
  font-size: var(--text-small);
}
.sale_infos_items .s_i_item {
  margin: 0 16px;
}
.item_quant {
  text-align: center;
}
.total_row_prod,
.total_row_sale {
  text-align: right;
}
.total_row_sale {
  padding: 8px 10px;
}
@media all and (max-width: 768px) {
  #page p {
    margin: 10px 0 10px 5px;
  }
  .state_container {
    margin: 25px 0 45px;
    padding: 0 !important;
  }
  .state_sale {
    width: 75px;
    height: 75px;
    margin: 0px 10px;
  }
  .icon_state {
    left: 10px;
    top: 6px;
    font-size: 35px;
  }
  .arm_left, .arm_right {
    width: 18px;
  }
  .arm_right {
    right: -22px;
  }
  .arm_left {
    left: -18px;
  }
  .state_text {
    position: absolute;
    left: -60%;
    bottom: -40px;
    font-size: 18px;
  }
  #page .purchase {
    display: block;
    padding: 8px 10px;
  }
  #page .purchase>div {
    padding: 0;
    text-align: left;
    margin: 15px 0 0;
  }
  #page .purchase img {
    max-width: 100%;
    max-height: 100%;
  }
  #page .purchase p {
    margin: 5px 0 5px 5px;
  }
  .sale_infos_title {
    max-width: inherit;
    font-size: var(--text-large);
    font-weight: 400;
  }
  .sale_infos_items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
  }
  .sale_infos_items .s_i_item {
    margin: 0;
  }
  .item_quant {
    display: inline-block;
    text-align: center !important;
  }
  .total_row_prod,
  .total_row_sale {
    text-align: left;
  }
}
/*  end @media all and (max-width: 768px)  */
