/* ________  GLOBAL SHOP CSS   ________ */
/*  i. - This file will never updated   */
body {
	background: url(../img/background.jpg), no-repeat;
	background-size: auto;
	background-attachment: fixed;
	/* minimum font size */
	font-size: 16px;
	/* By default the application uses the "Open Sans" font,
	 * it is imported by the @import rule of the CSS/fonts.css file
	 */
	font-family: "Open Sans", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/* i. :ROOT vars -> use it like :
    .my_text {
      font-size: var(--text-large);
      color: var(--color-text);
    }
*/
:root {
	--color-title-shop: #329cb8;
	--color-theme: #129cb8;
	--color-text: #1a1a1a;
	--color-icon-global: #129cb8;
	--color-title-icon: #129cb8;
	--color-text-icon: #129cb8;
	--color-icon: #e99476;
	--dim-color-text: #545454;
	--back-button: #129cb8;
	--text-button: #ffffff;
	--bkg-btn-prod: #02bda3;
	--bkg-content: #ebebeb;
	--bkg-slider: #ebebeb;
	--bkg-products: #ebebeb;
	--bkg-footer: #ebebeb;
	--bkg-error: #bd4213;
	--bkg-info: #1c7ead;
	--bkg-success: #2e9688;
	--bkg-warning: #da7e1e;
	--blue: #29a2f8;
	--dark-gray: #525252;
	--gray: #787878;
	--light-gray: #c3c3c3;
	--mid-gray: #9c9c9c;
	--dark-blue: #2790da;
	--pale-purple: #af88bb;
	--placeholder: #ffffff;
	--placeholder-search: #129cb8;
	--text-info: #009688;
	--text-success: #4fcd81;
	--text-warning: #ff5722;
	--text-xxlarge: 26px;
	--text-xlarge: 22px;
	--text-large: 20px;
	--text: 18px;
	--text-small: 16px;
	--white-dim: #ebebeb;
	--white-light: #fefefe;
}
/* :ROOT media querys 900px */
@media all and (max-width: 900px) {
	:root {
		--text-xxlarge: 22px;
		--text-xlarge: 20px;
		--text-large: 18px;
		--text: 16px;
		--text-small: 16px;
	}
}
/* PLACEHOLDER COLOR !! WORKS ONLY ON SEPARATED DECLARATION ... */
/* Chrome, Firefox, Opera, Safari 10.1+ */
/* Internet Explorer 10-11 */
/* Mozilla Firefox 19+ */
/* Mozilla Firefox 4 to 18 */
/* WebKit, Blink, Edge */
input#search_input::placeholder {
	color: var(--placeholder-search);
}
input#search_input::-webkit-input-placeholder {
	color: var(--placeholder-search);
}
input#search_input:-ms-input-placeholder {
	color: var(--placeholder-search);
}
input#search_input::-ms-input-placeholder {
	color: var(--placeholder-search);
}
input#search_input::-moz-placeholder {
	color: var(--placeholder-search);
}
input#search_input:-moz-placeholder {
	color: var(--placeholder-search);
}
/* font-sizes */
.text_xxlarge {
	font-size: var(--text-xxlarge);
}
.text_xlarge {
	font-size: var(--text-xlarge);
}
.text_large {
	font-size: var(--text-large);
}
.text {
	font-size: var(--text);
}
.text_small {
	font-size: var(--text-small);
}
/* colors */
/* i. Keep color_theme always before .title_icon or .text_icon */
.color_theme {
	color: var(--color-theme);
}
.text_info {
	color: var(--text-info);
}
.text_warning {
	color: var(--text-warning);
}
#splash_screen {
	background: var(--bkg-content);
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100vh;
	min-width: 100vw;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	flex-direction: column;
}
#splash_screen img {
	width: 30vmax;
	margin-top: -20vh;
}
#splash_screen .title_splash {
	color: var(--color-title-shop);
	margin-top: 4vh;
	font-size: 5vmax;
}
/* color icons */
/* color icon in a TITLE context */
.title_icon {
	color: var(--color-title-icon) !important;
}
/* color icon in a TEXT context */
.text_icon {
	color: var(--color-text-icon) !important;
}
/* header color icons */
header i {
	color: var(--text-button);
}
/* all icons color for globalize color */
.head_text i,
.prod_infos i,
.box_one_prod ul i,
i.checkbox,
i.title_icon,
#title_related_prod i,
#cat_title i,
footer i {
	color: var(--color-icon);
}
/* Override icons here after globals values */
/* slider icons */
.head_text i {
	color: var(--gray);
}
/* list products icons */
.prod_infos i {
	color: var(--color-icon);
}
/* one product view icons */
.box_one_prod ul i {
	color: var(--color-icon);
}
/* render categorie title */
#cat_title i {
	color: var(--color-title-icon);
}
/* check box form form_payment */
i.checkbox {
	color: var(--color-theme);
}
#title_related_prod i {
	color: var(--color-theme);
}
.related_item i {
	color: var(--color-icon);
}
.swiper-related_products-prev i,
.swiper-related_products-next i {
	color: var(--color-theme);
}
/* footer icons */
footer i {
	color: var(--color-theme);
}
/* end color icons */
/* background color content */
#page,
#header_bar,
#sidebar,
#cats_menu,
#select_nb_options,
footer {
	background: var(--bkg-content) !important;
}
/* color buttons */
/* input#search_input,
input#search_input::placeholder, */
.btn,
.button {
	padding: 8px 18px;
}
button,
.pagination_arrows,
.pagination_arrows button,
#sort_block>div,
#search_bar,
.btn,
.button {
	color: var(--text-button);
	background: var(--back-button);
	border-radius: 6px;
	font-size: var(--text);
}
input#search_input, input#search_input::placeholder {
	color: var(--text-button);
	background: var(--back-button);
	border: none;
	margin: 0;
	width: 150px;
	border-radius: 0;
	text-align: left;
	font-weight: 400;
}
input#search_input::placeholder {
	font-size: var(--text);
	padding: 7px 16px 7px 7px;
}
input#search_input {
	padding: 7px 10px 7px 10px;
	font-size: var(--text-large);
}
/* fix height header bar button */
#header_bar button,
#search_bar,
input#search_input {
	height: 40px;
	/* !important - keep it  */
	min-width: 40px;
	line-height: 0;
}
.pagination_arrows {
	display: inline-block;
	font-size: var(--text);
	border-radius: 6px;
}
/* buttons in text */
.btn_link {
	padding: 8px 16px 8px;
	margin: 10px 0 0;
	background: var(--bkg-btn-prod);
	border-radius: 6px;
	color: var(--text-button) !important;
}
/* icons herit color from parent button */
.btn_link i {
	color: inherit;
}
/* inverse colors for sub menu */
.color_inverse {
	background: var(--white-light);
	color: var(--dim-color-text) !important;
}
#cats_menu h2 {
	color: var(--dark-gray);
	font-size: var(--text-xlarge);
	margin: 0px 0 8px 2px;
	font-weight: 600;
}
/*  COLOR BUY BUTTONS  */
.box_cart button,
.box_gen button {
	color: var(--text-button);
	background: var(--bkg-btn-prod);
	border-radius: 6px;
	font-weight: 600;
	padding: 6px 17px 6px;
	line-height: 28px;
}
.box_gen {
	background: var(--bkg-products);
}
/* STATIC PAGES */
#page {
	background: var(--bkg-content);
	padding: 2% 4% 4%;
	color: var(--color-text);
	min-height: inherit;
	overflow-wrap: break-word;
}
#page h2 {
	font-size: var(--text-xxlarge);
	margin: 10px 0 50px;
	color: var(--color-text);
	font-weight: 500 !important;
}
#page h3 {
	font-size: var(--text-xlarge);
	margin: 36px 0 0;
	color: var(--color-text);
	font-weight: 500;
}
#page h4 {
	font-size: var(--text-large);
	margin: 36px 0 -16px;
	color: var(--color-text);
	font-weight: 500;
}
#page p {
	margin: 26px 0 0;
	font-size: var(--text-large);
	color: var(--color-text);
}
#page strong {
	font-size: var(--text-large);
	font-weight: 500;
}
#page ul {
	padding: 0;
	margin: 16px 0 42px;
}
#page li {
	list-style-type: none;
	font-size: var(--text);
	border-bottom: none;
	margin: 1% 2% 0;
}
#page li::before {
	content: '- ';
}
#page table {
	margin: 26px 0 0;
	border-collapse: collapse;
}
#page table th, #page table td {
	padding: 5px 20px;
}
#page iframe {
	width: 400px;
	height: 225px;
}
/*  <HEADER>  */
/* header bar - all but not slider OR jumbo text */
#header_bar {
	padding: 10px 10px 0;
	background: var(--bkg-content);
	border-radius: 4px;
	top: -200px;
	transition: top 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}
/*    IN #header_bar :    */
/* A - #first_row_header -> #logo_title +  #cart_container */
#first_row_header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}
/* A - 1 - #logo_title -> #logo_shop + #title_shop */
#logo_title {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	flex-grow: 1;
}
/* logo shop */
img#logo_shop {
	width: 90px;
}
/* title shop */
h1#title_shop {
	color: var(--color-title-shop);
	padding: 0;
	margin: 0 auto 0 4%;
	font-size: 40px;
	font-weight: 400;
	line-height: 48px;
}
/* A - 2 - CART BTN + MENU BTN */
#cart_container {}
/* B */
/* B - #cat_search_bar -> Home BTN + catgories BTN + search BAR */
#cat_search_bar {
	/* margin: 16px 0 0; */
}
#logo_title, #cart_block, #menu, #btn_open_home,
#btn_open_categories, #search_bar {
	margin: 0 0 10px;
}
#mobile_dev_all {
	display: none;
}
/* END  IN  #header_bar     */
/* wrapper JUMBO / SLIDER */
#jumbo_title {
	background: var(--bkg-content);
	text-align: center;
	border-radius: 4px;
	margin-bottom: 16px;
	padding: 16px 24px 10px;
}
#jumbo_title h2 {
	font-size: var(--text-xxlarge);
	margin: 0;
	color: var(--dark-gray);
	font-weight: 600;
	line-height: 30px;
}
#featured_products .swiper-wrapper {
	margin: 0;
	margin: 16px 0px 0;
}
.head_text h2 {
	font-size: var(--text-xxlarge);
	margin: 0;
	color: var(--dark-gray);
	font-weight: 600;
	line-height: 38px;
}
/* END <HEADER> */
/* global paragraph */
p {
	margin: 10px 0;
	font-size: var(--text);
	color: var(--color-text);
}
#breadcrumb {
	display: none;
	background: var(--bkg-content);
	color: var(--dark-gray);
	padding: 6px 16px 8px;
	font-size: var(--text);
	margin: 10px 0 0px;
	border-radius: 4px;
}
/* Title categorie */
#title_cat_block {
	height: inherit !important;
	width: 100%;
	margin: 10px auto 0 !important;
	background: var(--bkg-content);
	box-shadow: inherit;
	border-radius: 4px;
	padding: 5px 1.5% 6px;
	display: none;
}
#cat_title {
	margin: 0;
	font-size: var(--text-xxlarge);
	color: var(--dark-gray);
	font-weight: 400;
}
/* setted by js/main.js/$.search(input); */
#search_not_found {
	background: var(--bkg-content);
	color: var(--dark-gray);
	margin-bottom: 16px;
	border-radius: 4px;
}
/* style form contact / form payment */
#form_contact label {
	font-size: var(--text);
	margin: 12px 0 3px;
	display: inline-block;
}
.input {
	padding: 5px 10px;
	font-size: var(--text);
	border: 1px solid var(--mid-gray);
	border-color: var(--mid-gray);
	border-radius: 4px;
	background: var(--white-light);
}
i.checkbox {
	color: var(--color-theme);
	font-size: 36px !important;
	vertical-align: sub;
}
#form_payment input,
#form_payment textarea,
#form_payment select {
	width: 94%;
	margin: 0 0 10px;
}
#form_payment {
	font-size: var(--text);
	margin: 38px 0 0;
}
label.label_input {
	margin: 0 0 2px 2px;
	display: inline-block;
}
/* end style form contact / form payment */
/* footer */
footer {
	margin: 0 auto 60px;
	background: var(--bkg-footer);
}
#footer_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	align-items: flex-start;
	font-size: var(--text);
}
footer p {
	margin: 20px 0 20px;
}
footer i {
	font-size: var(--text-xlarge);
	vertical-align: text-bottom;
}
footer .footer_img_cont img {
	width: 200px;
	max-width: 250px;
}
footer hr {
	width: 42%;
	margin: 0 auto;
}
/* Toastr alert lib override */
#toast-container>.toast {
	opacity: 1;
	width: 580px !important;
	background-image: none !important;
	/* HIDE ICON  */
}
#toast-container>div {
	box-shadow: 0 0 4px #3c3c3c;
	margin: 10px 0 0;
	padding: 20px 26px;
	text-align: center;
	font-size: var(--text-xlarge);
}
.toast-info {
	background-color: var(--bkg-info);
}
.toast-success {
	background-color: var(--bkg-success);
}
.toast-warning {
	background-color: var(--bkg-warning);
}
.toast-error {
	background-color: var(--bkg-error);
}
/* end Toastr alert lib override */
/* media querys 900px */
@media all and (max-width: 900px) {
	/* HEADER THINGS */
	#first_row_header {
		flex-direction: column;
	}
	#logo_title {
		align-self: stretch;
	}
	#menu {
		float: right;
	}
	/* END HEADER THINGS */
	.head_text h2 {
		font-size: var(--text-xlarge);
		line-height: 32px;
	}
	#page h2 {
		font-size: var(--text-xxlarge);
		margin: 10px 0 0;
		text-align: left !important;
	}
	#toast-container>.toast {
		width: 97% !important;
	}
	/* footer .footer_img_cont {
			display: none;
		} */
}
/* end media querys 900px */
/* media querys 768px */
@media all and (max-width: 768px) {
	#header_bar {
		padding: 10px 5px 5px;
	}
	#cart_container, #cat_search_bar {
		display: none;
	}
	button#mobile_dev_all {
		display: block;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
	}
	h1#title_shop {
		min-width: initial;
		margin: 0 0 0 5%;
		line-height: 36px;
	}
	img#logo_shop {
		width: 20%;
	}
	#footer_content {
		flex-direction: column;
	}
	footer .footer_img_cont {
		align-self: center;
		display: block;
	}
	footer .footer_img_cont img {

	}
}
/* end media querys 768px */
/* media querys 580px */
@media all and (max-width: 580px) {
	h1#title_shop {
		font-size: 30px;
	}
}
/* media querys 580px */
/* ________  GLOBAL SHOP CSS   ________ */
