
<div class="card round" id="page">

  <h2 class="bold">
    <i class="fa-flask fas color_theme"></i>&nbsp; What is Placido-Shop ?
  </h2>
  	<p>
			Placido-Shop is an online sales program designed to be fast and efficient.
			<br>
			Navigating through the tabs of your online store and the checkout
			step are fast and smooth.
		</p>

		<p>
			It was created to provide an unparalleled online sales experience.
		</p>

		<p>
			Placido-Shop allows your customers to buy quickly,
			without spending time filling out complex forms,
			<br>
			it allows to buy a product in two clicks,
			without stress and simply.
		</p>

		<p>
			This program is easy to install and use, it allows you to deploy
			an online sales solution quickly.
		</p>

		<p>
			Placido-Shop is a basic online sales program, it can be used as is but
			you can simply modify it to match your brand image or your technical needs.
		</p>

		<p>
			This software is an open-source program under the GNU AGPL license.
		</p>

		<p>
			In order to support our work,
			<br>
			you have the possibility of <a href="https://placido-shop.com/Become-a-sponsor.html"
		  title="Become a sponsor of Placido-Shop"
			target="_blank"
		  class="underline">becoming official sponsor of Placido-Shop</a>
			<br>
			Do not hesitate to <a href="https://placido-shop.com/Contact-us.html"
		  title="Contact-us from Placido-Shop website"
			target="_blank"
		  class="underline">contact us</a>&nbsp;!
		</p>

</div>
