<div class="card round" id="page">

  <h2 class="bold">
    <i class="fas fa-flask color_theme"></i>&nbsp;
    Open-Source libraries and languages ​​used
  </h2>


  <p>
    We would like to acknowledge and extend our heartfelt thanks to
		everyone who contributes to open-source and the libraries we use every day.
		<br>
		Here is the list of languages ​​and libraries used by Placido-Shop.
  </p><p>

	</p><h3>
		This program uses the following Open-Source technologies:
	</h3>

	<p>
		The beautiful background images of the application
		<br>
		Dorsa Masghati <a href="https://dorsamasghati.com/" target="_blank">See the website of Dorsa Masghati</a>
		<br>
    JavaScript : Brendan Eich
		<a href="https://developer.mozilla.org/fr/docs/Web/JavaScript" target="_blank">JavaScript</a>
    <br>
    TouchSwipe : Matt Bryson
    <a href="https://github.com/mattbryson/TouchSwipe-Jquery-Plugin" target="_blank">TouchSwipe-Jquery-Plugin</a>
    <br>
    Mustache JS :
		<a href="https://github.com/janl/mustache.js" target="_blank">mustache.js</a>
    <br>
    jQuery-Mustache : John Reeves
    <a href="https://github.com/jonnyreeves/jquery-Mustache" target="_blank">jquery-Mustache</a>
    <br>
		Swiper JS : nolimits4web
		<a href="https://swiperjs.com/" target="_blank">Swiper</a>
		<br>
		toastr : John Papa, Tim Ferrell, Hans Fjällemark
		<a href="https://github.com/CodeSeven/toastr" target="_blank">toastr</a>
		<br>
		Chart.js : All contributors
		<a href="https://www.chartjs.org/" target="_blank">Chart.js</a><br>
		Trumbowyg : Alex-D&nbsp;<a href="https://alex-d.github.io/Trumbowyg/" title="See the website of Trumbowyg" target="_blank">Trumbowyg</a><br>
    JSON : Douglas Crockford
		<a href="https://fr.wikipedia.org/wiki/JavaScript_Object_Notation" target="_blank">JavaScript Object Notation</a>
    <br>
    Mustache (PHP) :
		<a href="https://mustache.github.io/" target="_blank">Mustache</a>
    <br>
    PHP : Rasmus Lerdorf
		<a href="https://www.php.net/" target="_blank">https://www.php.net/</a>
    <br>
    PHPMailer :
		<a href="https://github.com/PHPMailer/PHPMailer" target="_blank">PHPMailer</a>
		<br>
		JShrink : Robert Hafner
		<a href="https://github.com/tedious/JShrink" target="_blank">JShrink</a>
    <br>
    A customized version of
		<a href="https://www.w3schools.com/w3css/" target="_blank">W3.CSS</a>
		Jan Egil, Borge Refsnes (W3.css - without w3-tag)
    <a href="https://github.com/Raf-sns/w3.css-without-w3-tag" target="_blank">custom.css</a>
    <br>
		Animate.css : Daniel Eden and friends
		<a href="https://animate.style/" target="_blank">Animate.css</a>
		<br>
		Font Awesome icons :
		<a href="https://fontawesome.com/" target="_blank">Font Awesome</a>
		<br>
		Commonly used fonts :
		<br>
		"Open Sans" : Designed by Steve Matteson
		<br>
		"Roboto" : Designed by Christian Robertson
		<br>
    Placido-Shop framework : Raphaël Castello
		<a href="https://placido-shop.com" target="_blank">Placido-Shop</a><br><br>
		Governance of the application on <a href="https://votemobile.xyz" target="_blank">Vote mobile</a> -&gt; Group: Placido-Shop
		<br>
		Everyone is welcome !
  </p>

  <h3>Caution:</h3>

  <p>
    This software is provided as is without any warranty.
		<br>
		We are not responsible for any malfunction of the program or loss of your data.
	</p>

  <h3>Energy consumption information:</h3>

  <p>
    This website has been designed to minimize its energy consumption.
		<br>
		Wherever possible, the developer has deliberately chosen methods of
		programming aimed at reducing
		its electricity consumption as well as the volume of data consumed.
  </p>

	<h3>Placido-Shop is an Open-Source software under GNU AGPL license:</h3>

	<p>
		You can copy, modify and resell it provided you publish
		your version publicly and accessible to everyone,
		under the same conditions.
	</p>

</div>

<!-- END global container -->