
<div class="card round" id="page">

  <h2 class="bold">
    <i class="fa-info fas color_theme"></i>&nbsp;
    Legal information on the right of withdrawal
  </h2>

	<p>
		<em>
			(Write your own terms of sale)
		</em>
	</p>
  <p>
    If you buy a good or a service remotely,
		<br>
		you have the right to change your mind about your purchase.
		<br>
		It's the right to retract.
  </p>
  <p>
    The terms and conditions are described in
		this information notice in the following paragraphs.
  </p>


  <h3>
    Contracts excluded:
  </h3>


  <ul>
    <li>
      List your rules here,
			<br>
			make sure you comply with international laws and those of your country.
    </li>
		<br>
    <li>
      List your rules here,
			<br>
			make sure you comply with international laws and those of your country.
    </li>
  </ul>

  <h3>
    Calculation of the withdrawal period:
  </h3>

  <p>
	  You have a minimum of 14 days to change your mind about your remote purchase.
		<br>
		The 14-day period is the minimum legal period.
		<br>
		The professional can offer a longer period to his clients.
		<br>
		The right of withdrawal also applies if the product is on sale,
		<br>
		second-hand or destocked.
		<br>
		You can exercise your right of withdrawal from the date of delivery.
  </p>

  <h3>
    Exercise of the right of withdrawal:
  </h3>

  <p>
    Before the expiry of the withdrawal period,
		<br>
		you must contact the seller&nbsp;:
  </p>

  <p>
    <em>
			The simple return of the goods without declaration or the refusal
			to take delivery are not enough to express your wish to retract.
    </em>
  </p>

	<p>
		See below the standard withdrawal form,
		<br>
		which must be provided with the returned product.
	</p>

	<p>
    You do not have to motivate or justify your decision.
  </p>

  <h3>
    Model letter of withdrawal:
  </h3>

  <p>
    Dear,
    <br>
    The (date),
    <br>
		I placed an order with you by (telephone, mail, Internet)
    <br>
    and I took delivery of it on (date).
    <br>
    In accordance with the law,
		<br>
		I inform you that I wish to exercise my right of withdrawal concerning
		this order and I will return it to you within 14 days.
    <br>
    Please refund me the amount of (…)
    <br>
    that I have paid you by (credit card, etc.).
		<br>
		Indicate the means of reimbursement, the account number to be credited, etc...
    <br>
    Cordially,
    <br>
    <br>
    (Signature)
		<br>
  </p>
</div>
<!-- END DIV GEN -->
