
<footer class="card round">

  <div id="footer_content">

    <!-- col 1 -->
    <div class="padding-large">

      <p aria-label="{{tr.our_address}}">
        <i class="fa-map-marker-alt fas"></i>&nbsp;
        {{#shop}}{{{addr}}}{{/shop}}
      </p>

			{{#shop.tel}}
      <p aria-label="{{tr.phone_contact}}">
        <i class="fa-mobile-alt fas"></i>&nbsp; {{shop.tel}}
      </p>
			{{/shop.tel}}

      <p>
        <i class="far fa-envelope"></i>&nbsp;
        <a onclick="$.open_static_page(event, '{{static_pages.contact-us.url}}');"
        href="{{static_pages.contact-us.url}}.html"
        title="{{static_pages.contact-us.page_title}}"
        class="underline">{{tr.contact_us}}</a>
      </p>

    </div>
    <!-- END col 1 -->

    <!-- col 2 centered  -->
    <div class="footer_img_cont padding-large center">
      <!-- MAPS OR LOGO  -->
      <img src="{{view.logo}}"
      alt="{{shop.title}}" />
    </div>
    <!-- end col 2   -->

    <!-- col 3 -->
    <div class="padding-large">

      <p>
        <i class="fa-fw fas fa-question"></i>&nbsp;
        <a onclick="$.open_static_page(event, '{{static_pages.about-us.url}}');"
        href="https://{{website.host}}/{{static_pages.about-us.url}}.html"
        title="{{static_pages.about-us.page_title}}"
        class="underline">{{tr.about_us}}&nbsp;...</a>
      </p>

      <p>
        <i class="fa-fw fas fa-university"></i>&nbsp;
        <a onclick="$.open_static_page(event, '{{static_pages.terms-of-sale.url}}');"
        href="https://{{website.host}}/{{static_pages.terms_of_sale.url}}.html"
        title="{{static_pages.terms-of-sale.page_title}}"
        class="underline">{{tr.legal_informations}}</a>
      </p>

      <p>
        <i class="fa-fw fas fa-info"></i>&nbsp;
        <a onclick="$.open_static_page(event, '{{static_pages.right-to-retract.url}}');"
        href="https://{{website.host}}/{{static_pages.right_to_retract.url}}.html"
        title="{{static_pages.right-to-retract.page_title}}"
        class="underline">{{tr.right_to_retract}}</a>
      </p>



    </div>
    <!-- end col 3 -->

  </div>
  <!-- END footer_content -->
  <hr>
  <!--  row 2 -->
  <div class="row">
    <div class="col s12">
      <p class="center margin-bottom margin-top">
        {{website.host}}&nbsp;©&nbsp;{{website.year}}
      </p>
    </div>
  </div>
  <!-- END row 2 -->

</footer>
