
  <header>

    <!-- HEADER BAR -->
    <div id="header_bar" class="card">

			<!-- #first_row_header -->
			<div id="first_row_header">

	      <!-- logo + title -->
	      <div id="logo_title">

	        <!-- LOGO && open_home() -->
	        <img onclick="$.open_home();"
	        src="{{view.logo}}"
	        alt="{{view.title}}"
	        id="logo_shop"
					class="pointer">

	        <!-- TITLE SHOP -->
	        <h1 id="title_shop">{{view.title}}</h1>

	      </div>
	      <!-- end logo + title -->


	      <!-- BLOCK BTNS RIGHT ALIGNED  -->
	      <div id="cart_container">

          <!-- CART BTN -->
          {{#shop.mode}}
	        <button id="cart_block"
	        onclick="$.open_payment_form();"
	        class="btn margin-right"
	        role="button"
	        aria-labelledby="cart_block_header">

	          <span id="cart_block_header">
	            <i class="fas fa-shopping-cart"></i>&nbsp; {{tr.basket}}
	          </span>

	          <span id="render_cart">
	            <span id="nb_articles">{{tr.empty_basket}}</span>
	          </span>

	        </button>
          {{/shop.mode}}
          <!-- CART BTN -->

	        <!-- BTN MENU -->
	        <button id="menu"
	          onclick="$.open_sidebar();"
	          class="open_modal btn"
	          role="button"
	          aria-labelledby="menu">
	            <i class="fa-bars fas"></i>
							<!-- // class="hide-small" -->
	            <span>&nbsp; {{tr.menu}}</span>
	        </button>
	        <!-- BTN MENU -->

	      </div>
	      <!-- end cart_block  -->

			</div>
			<!-- END #first_row_header -->

      <!-- search -->
      <div id="cat_search_bar">
        {{>search_bar}}
      </div>
      <!-- search -->


			<!-- BUTTON DEV ALL in MOBILE  -->
			<button id="mobile_dev_all"
				onclick="$.mobile_dev_all(event);"
				class="open_modal button block"
				role="button"
				aria-labelledby="menu">
					<span>
						<i id="icon_mobile_dev_all" class="fa-bars fas text_xxlarge"></i>
					</span>
			</button>
			<!-- BUTTON DEV ALL in MOBILE  -->

    </div>
    <!-- HEADER BAR -->

    <!-- WRAPPER JUMBO OR SLIDER -->
    <div id="wrap_img_header">

      <!-- evently for jumbo title with a background img -->
			{{#view.jumbo.display}}
      <div id="jumbo_title" class="card">
	        {{>../API/jumbo}}
      </div>
			{{/view.jumbo.display}}

			<!-- featured_products -->
			{{#view.slider.display}}
	      {{>../API/featured_products}}
			{{/view.slider.display}}

    </div>
    <!-- END WRAPPER JUMBO OR SLIDER -->

  </header>
