
<nav id="sidebar" class="bar-block card-4 round">

  <button
  onclick="$.open_sidebar();"
  class="btn hover-opacity margin-right"
  role="button"
  aria-label="{{tr.close}}">
    <i class="fas fa-times"></i></button>

  <button onclick="$.open_home();"
  class="bar-item pointer"
  role="button"
  aria-label="{{tr.open_home}}">
    <i class="fa-fw fas fa-home"></i>&nbsp; {{tr.open_home}}</button>

  <button onclick="$.open_static_page(event, '{{static_pages.contact-us.url}}');"
  class="bar-item pointer"
  role="button"
  aria-label="{{static_pages.contact-us.page_title}}">
    <i class="fa-fw far fa-envelope"></i>&nbsp; {{tr.contact}}</button>

  <button onclick="$.open_render_sale();"
  class="bar-item pointer"
  role="button"
  aria-label="{{tr.your_order}}">
    <i class="fa-shopping-basket fas"></i>&nbsp; {{tr.your_order}}</button>

  <button onclick="install_app();"
  id="btn_install_app"
  class="add-button bar-item pointer"
  role="button"
  aria-labelledby="btn_install_app">
    <i class="fa-fw fa-sign-in-alt fas"></i>&nbsp; {{tr.install_app}}</button>

  <button onclick="$.open_static_page(event, '{{static_pages.terms-of-sale.url}}');"
  class="bar-item pointer"
  role="button"
  aria-label="{{static_pages.terms-of-sale.page_title}}">
  <i class="fa-fw fas fa-university"></i>&nbsp; {{tr.legal_informations}}</button>

  <button onclick="$.open_static_page(event, '{{static_pages.right-to-retract.url}}');"
  class="bar-item pointer"
	role="button"
	aria-label="{{static_pages.right-to-retract.page_title}}">
    <i class="fa-fw fas fa-info"></i>&nbsp; {{tr.right_to_retract}}</button>

  <button onclick="$.open_static_page(event, '{{static_pages.about-us.url}}');"
  class="bar-item pointer"
  role="button"
  aria-label="{{static_pages.about-us.page_title}}">
    <i class="fa-fw fas fa-question"></i>&nbsp; {{tr.about_us}}</button>

	<button
	onclick="$.open_static_page(event, '{{static_pages.libraries-and-languages.url}}');"
  class="bar-item pointer"
  role="button"
  aria-label="{{static_pages.libraries-and-languages.page_title}}">
    <i class="fa-code fa-fw fas"></i>&nbsp; Open-source libraries</button>

</nav>
