  <!-- block home + cat + search  cat_search_bar -->
    <!--  ALL -->
    <button onclick="$.open_home();"
		id="btn_open_home"
    class="open_modal btn button pointer margin-right hide-small"
    role="button"
    aria-label="{{tr.open_home}}">
      <i class="fa-home fas"></i>
    </button>

    <!-- CATS LIST -->
    <button onclick="$.open_cats_menu();"
    id="btn_open_categories"
    class="open_modal btn button pointer margin-right"
    role="button"
    aria-labelledby="btn_open_categories">
    <i class="fas fa-stream"></i>&nbsp; {{tr.categories}}</button>

    <!-- RESEARCH in div for style -->
    <div id="search_bar" class="inline-block">

      <i class="search_icon fas fa-search"></i>
        <!-- INPUT SEARCH -->
      <input onkeyup="$.search('#search_input');"
      id="search_input"
      name="search_input"
      type="text"
      placeholder="{{tr.to_research}}"
      aria-label="{{tr.to_research}}"
			role="search"
      class="border-left border-right">

      <!-- CLEAR SEARCH -->
      <span onclick="$.erase_search('#search_input');"
      class="pointer erase_search"
			role="button"
      aria-label="{{tr.clear_search}}"><i class="fa-eraser fas"></i></span>
    </div>
  <!-- block home + cat + search -->
