<!-- SORT BLOCK -->
<div id="sort_block" style="{{view.display_top_sort}}">

  <!-- HIDDEN BUTTON SHOW OPTIONS IN MOBILE -->
  <button onclick="$.show_sort_options();"
  id="show_sort_options"
  class="btn display_top_sort hide-large hide-medium inline-block margin-right"
  role="button"
  aria-label="{{tr.develop_sort_options}}">
    <i class="fas fa-plus ico_show_sort"
    style="vertical-align: middle;"></i>
  </button>

	<!-- PRODUCTS DISPLAY -->
	<div id="products_display"
  class="inline-block display_top_sort hide-medium hide-small margin-right">

    <button onclick="$.display_products();"
    class="button pointer bold"
    aria-label="{{tr.line_display_products}}">
      <i class="ico_display fas {{#view.display_inline}}fa-th{{/view.display_inline}}
      	{{#view.display_mozaic}}fa-th-list{{/view.display_mozaic}}"></i>
    </button>
	</div>

  <!-- PAGINA NB OPTION -->
  <div id="sort_nb_pagina"
  class="display_top_sort inline-block hide-small margin-right">

		  <button onclick="$.open_choice_nb_pagina();"
			class="open_modal open_choice_nb_pagina button pointer bold"
			role="button"
			aria-expanded="false"
			aria-controls="select_nb_options">
				<i class="fa-list-ol fas"></i>
		    <span class="not_affich bold inline-block"
		    style="vertical-align: middle;">&nbsp; {{tr.adjust_nb_pagina}}</span>
				&nbsp;&nbsp;
				<span id="view_nb_wanted">{{view.nb_wanted}}</span>
				&nbsp;&nbsp;&nbsp;<i class="fas fa-chevron-down"></i>
			</button>

			<!-- hidden selector  -->
		  <ul id="select_nb_options"
			class="card-4 dropdown-content round animated zoomInUp bold">
				{{#select_nb_opt}}
			    <li onclick="$.adjust_nb_pagina({{value}});" data-nb_option="{{value}}"
					class="{{^opt}}color_inverse {{/opt}}bar-item
					border button round hover-opacity"
					aria-label="{{tr.adjust_nb_pagina}} {{value}} {{tr.articles_button}}">
						<i class="fa-fw fa-hand-point-right far"></i>&nbsp; {{value}}&nbsp;{{tr.articles_button}}
					</li>
				{{/select_nb_opt}}
		  </ul>

	</div>
  <!-- end PAGINA NB OPTION -->

  <!-- SORT PRICES -->
  <div id="sort_by_price"
  class="inline-block display_top_sort hide-small margin-right">

    <button onclick="$.sort_by_price('highest');"
    class="button pointer bold"
    aria-label="{{tr.sort_by_high_prices}}">
      <i class="fas fa-chevron-up"></i>
    </button>

    <span style="vertical-align: middle;"
    class="bold"
    aria-label="{{tr.price}}">{{tr.price}}</span>

    <button onclick="$.sort_by_price('lowest');"
    class="button pointer bold"
    aria-label="{{tr.sort_by_low_prices}}">
      <i class="fas fa-chevron-down"></i>
    </button>

  </div>

  <!-- PAGINATION -->
  {{>pagination_arrows}}
  <!-- PAGINATION -->

</div>
<!-- END SORT BLOCK -->
