RewriteEngine on

# redirect www. to non-www.
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

## headers
Header set Access-Control-Allow-Methods "POST,GET"

Header set Access-Control-Allow-Credentials "true"

Header set Access-Control-Allow-Private-Network "true"

# age : 31536000 seconds / 365 days
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

# deni frames
Header set Content-Security-Policy "frame-ancestors 'none'"
Header set X-Frame-Options "DENY"

# no sniff
Header set X-Content-Type-Options "nosniff"

# XSS
Header set X-XSS-Protection "1; mode=block"


# cache
# MOD_DEFLATE COMPRESSION
SetOutputFilter DEFLATE
# AddOutputFilterByType DEFLATE text/html text/css text/plain application/x-javascript application/x-httpd-php
# Pour les navigateurs incompatibles
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
# ne pas mettre en cache si ces fichiers le sont déjà
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip
# les proxies doivent donner le bon contenu
Header append Vary User-Agent env=!dont-vary
# BEGIN Expire headers
# cache de 24h -> 86400 | 48 h -> 172800 | 8 days -> 691200
<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresDefault "access plus 86400 seconds"
 ExpiresByType image/jpg "access plus 691200 seconds"
 ExpiresByType image/jpeg "access plus 691200 seconds"
 ExpiresByType image/png "access plus 691200 seconds"
 ExpiresByType image/gif "access plus 691200 seconds"
 AddType image/x-icon .ico
 ExpiresByType image/ico "access plus 691200 seconds"
 ExpiresByType image/icon "access plus 691200 seconds"
 ExpiresByType image/x-icon "access plus 691200 seconds"
 ExpiresByType text/css "access plus 86400 seconds"
 ExpiresByType text/javascript "access plus 86400 seconds"
 ExpiresByType text/html "access plus 86400 seconds"
</IfModule>
# END Expire headers

# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
 <FilesMatch "\\.(ico|jpe?g|png|gif|swf|gz|ttf)$">
    Header set Cache-Control "max-age=691200, public"
 </FilesMatch>
 <FilesMatch "\\.(css)$">
    Header set Cache-Control "max-age=86400, public"
 </FilesMatch>
 <FilesMatch "\\.(js)$">
    Header set Cache-Control "max-age=86400, private"
 </FilesMatch>
 <filesMatch "\\.(html|htm)$">
    Header set Cache-Control "max-age=86400, public"
 </filesMatch>

 # Disable caching for scripts and other dynamic files
 <FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
    Header unset Cache-Control
 </FilesMatch>
</IfModule>
# END Cache-Control Headers

# no cach
#<FilesMatch "\.(css|flv|gif|htm|html|ico|jpe|jpeg|jpg|js|png|pdf|swf|txt|php)$">
#	<IfModule mod_expires.c>
#		ExpiresActive Off
#	</IfModule>
#	<IfModule mod_headers.c>
#		FileETag None
#		Header unset ETag
#		Header unset Pragma
#		Header unset Cache-Control
#		Header unset Last-Modified
#		Header set Pragma "no-cache"
#		Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
#		Header set Expires "Mon, 10 Apr 1972 00:00:00 GMT"
#	</IfModule>
#</FilesMatch>
# end no cach

# KILL THEM ETAGS
Header unset ETag
FileETag none
# FIN  cache


# ERRORS
# Determine if the request does not match an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# If so, send the request to the applicable file, relative to this directory
RewriteRule ^ %{ENV:BASE}404.php [L]
ErrorDocument 404 /404.php
ErrorDocument 500 /404.php
#END ERRORS

#jeu de caractère
AddDefaultCharset utf-8

# protection de la lecture des répertoires
Options -Indexes

# protect the htaccess file
<files .htaccess>
order allow,deny
deny from all
</files>
