
<!-- ARCHIVES -->
<script id="archives" type="text/html">

<div id="archives" class="pad_product_form">

	<!-- search options  -->
	<div id="search_archives">

		<!-- search by date -->
		<p class="mobile mrg0 search_arch_item">

			<label
			for="search_archives_by_date">{{tr.search_by_date}}</label>
			<br>
			<input onkeyup="$.timer_archives('date');"
			id="search_archives_by_date"
			class="bold mobile border border-blue margin-top padding-small text-dark-gray"
			type="text"
			maxlength="10"
			placeholder="Use YYYY MM DD">

		</p>

		<!-- search by bill number -->
		<p class="mobile mrg0 search_arch_item">

			<label for="search_archives_by_number">{{tr.search_archives_by_number}}</label>
			<br>
			<input onkeyup="$.timer_archives('number');"
			id="search_archives_by_number"
			class="bold mobile border border-blue margin-top padding-small text-dark-gray"
			type="text">

		</p>


		<!-- search by name customer -->
		<p class="mobile mrg0 search_arch_item">

			<label for="search_archives_customer">{{tr.search_archives_by_customer}}</label>
			<br>
			<input onkeyup="$.timer_archives('customer');"
			id="search_archives_by_customer"
			class="bold mobile border border-blue margin-top padding-small text-dark-gray"
			type="text">

		</p>

		<!-- button re-init view by default  -->
		<p class="mobile mrg0 search_arch_item">

			<button
			onclick="$.clean_search_archives();"
			class="blue btn card padding-small round">
				<i class="fa-fw fa-recycle fas"></i>&nbsp; {{tr.re_init_search}}
			</button>

		</p>

	</div>
	<!-- end search options  -->

	<!-- archives_search_container -->
	<div id="archives_search_container" class="hide">
	</div>
	<!-- end archives_search_container -->

	<!-- archives_container -->
	<div id="archives_container">
		{{>partial_archives_container}}
	</div>
	<!-- end archives_container -->

	<!-- #more_archives -->
	<div id="more_archives">
		{{#template.load_more_archives}}
		<div class="card gray margin-bottom pad round">

			<!-- LOAD MORE ARCHIVES -->
			<button id="loader_archives"
			onclick="$.load_more_archives();"
			class="mrg0 bar btn center blue round" role="button"
			style="margin-top:0;">
				<i class="fa-sign-in-alt fas"></i>&nbsp;
				{{tr.load_more_archives}}
				&nbsp; <i class="fas fa-circle-notch fa-spin hide"></i>
			</button>

		</div>
		{{/template.load_more_archives}}
	</div>
	<!-- end #more_archives -->

	{{^archives}}
	<p class="large margin-left">
	  {{tr.empty_archives}}.
	</p>
	{{/archives}}

</div>
<!-- end id="archives" -->
</script>
<!-- END ARCHIVES -->


<!-- partial_archives_container -->
<script id="partial_archives_container" type="text/html">
	{{#archives}}
		{{>partial_archives}}
	{{/archives}}
</script>
<!-- END partial_archives_container -->


<!-- PARTIAL SEARCH -->
<script id="partial_search" type="text/html">
	{{#search_archives}}
		{{>partial_archives}}
	{{/search_archives}}
</script>
<!-- END PARTIAL SEARCH -->



<!-- PARTIAL ARCHIVES -->
<script id="partial_archives" type="text/html">

<div id="archive_id-{{sale_number}}"
    class="card gray margin-bottom pad round">

  <p class="dark-gray mrg0 pad">
    <!-- BILL NUMBER -->
    <span class="large tag number_archive">
      <span class="">
				<i class="fa-file-alt far"></i>&nbsp;
				{{tr.bill_number}}&nbsp;<span class="wide fw600">{{sale_number}}</span>
			</span>
    </span>
    <br>
    <!-- DATE BILL -->
    <span class="large inline-block margin-top v-top" style="text-indent: 2px;">
      <i class="fa-calendar-alt far"></i>&nbsp;
      {{tr.date_bill}}&nbsp;:&nbsp;{{date_sale}}
    </span>
		<br>
		<!-- CUSTOMER NAME  -->
	  <span class="large inline-block margin-top v-top" style="text-indent: 2px;">
      <i class="far fa-user"></i>&nbsp;
			{{tr.customer}}&nbsp;:&nbsp;
			<span class="wide">{{customer.lastname}}&nbsp;{{customer.firstname}}</span>
    </span>
    <br>
		<!-- DEVELOP BILL -->
    <button onclick="$.deploy_archive({{sale_number}});"
		id="icon_archive-{{sale_number}}"
    class="gree btn card margin-top round small small_btn">
      <i class="fa-fw fa-hand-point-right far"></i>&nbsp;
			<span id="text_icon_archive-{{sale_number}}">{{tr.show}}</span>
		</button>
  </p>

  <!-- hidden archive -->
  <div class="hidden_archive" style="display: none;">

    <!-- CUSTOMER + LIV. ADDRESS -->
    <div class="two">
      <div class="one">

        <p class="dark-gray mrg0 pad large">
					<span class="inline-block medium margin-bottom tag purp">
						<span class="">
							<i class="fa-fw far fa-user"></i>&nbsp;
							{{tr.customer}}&nbsp;:
						</span>
					</span>
					<br>
					<i onclick="$.print( '#print-{{sale_number}}' );"
					class="border border-white card fa-print fas hover-shadow padding-small pointer round text-white"
					style="margin: 0 10px 4px 0;"
					title="{{tr.print}}"></i>
					<span id="print-{{sale_number}}">
          {{customer.lastname}}&nbsp;{{customer.firstname}}
          <br>
          {{customer.address}}
          <br>
          {{customer.post_code}}&nbsp; {{customer.city}}
					<br>
          {{customer.country}}
					</span>
          <br>
          {{tr.phone}}&nbsp;: {{customer.tel}}
          <br>
          {{tr.mail}}&nbsp;: {{customer.mail}}
        </p>

      </div>

      <div class="one">
        {{#customer.address_sup}}
        <p class="pad dark-gray mrg0 large">
          <span class="amber inline-block large margin-bottom tag text-black">
            <i class="fa-truck fas text-dark-grey"></i>&nbsp;
            {{tr.delivery}}&nbsp;:
          </span>
          <br>
          {{customer.lastname_sup}}&nbsp;{{customer.firstname_sup}}
          <br>
          {{customer.address_sup}}
          <br>
          {{customer.zip_sup}}&nbsp; {{customer.city_sup}}
					<br>
          {{customer.country_sup}}
        </p>
        {{/customer.address_sup}}
      </div>

    </div>
    <!-- END ROW CUSTOMER + LIV. ADDRESS -->

    <!-- SEND MAIL TO CUSTOMER + SHOW BILL  -->
    <div class="">
      <p class="mrg0">
        <!-- SEND MAIL TO CUSTOMER -->
        <button onclick="$.send_mail_archives({{sale_number}});"
        class="blue btn card round" role="button">
          <i class="far fa-envelope"></i>&nbsp;
          {{tr.send_message_to_customer}}
        </button>
        <br>
        <!-- SHOW BILL -->
        <button onclick="$.show_bill({{sale_number}});"
        class="blue btn card round" role="button">
          <i class="far fa-copy"></i>&nbsp;
          {{tr.show_or_print_bill}}
        </button>
				<br>
        <!-- RESEND BILL AT CUSTOMER -->
        <button onclick="$.ask_to_send_bill({{sale_id}});"
				id="send_bill_at_customer"
        class="blue btn card round" role="button">
          <i class="fa-paper-plane far"></i>&nbsp;
          {{tr.resend_bill_at_customer}} &nbsp;<i class="fas fa-circle-notch fa-spin hide"></i>
        </button>
      </p>
    </div>

    <!-- PRODUCTS PRUCHASED -->
    <div style="margin-top: 16px;">

      <div class="dark-gray pad">
				<span class="medium purp tag">
					<span class="">
						<i class="fa-fw fa-shopping-basket fas"></i>&nbsp;
						{{tr.products}}&nbsp;:&nbsp;
					</span>
				</span>
      </div>

      <!--  TABLE PRODUCTS -->
      <div class="dark-gray pad responsive">
        <table class="dark-gray centered table">
          <tr>
            <th>{{tr.reference}}</th>
            <th>{{tr.title}}</th>
            <th>{{tr.unit_price}}</th>
            <th>{{tr.tax}}</th>
            <th>{{tr.quant}}</th>
            <th>{{tr.total_row}}</th>
          </tr>
            {{#archived_products}}
            <tr>
							<td>
								{{ref}}
							</td>
							<td style="max-width: 500px;">
								{{title}}
							</td>
						  <td>
                {{PU_text}}

                {{#refounded}}
                  <br>
                  <span class="small text-amber">
										{{tr.refounded_price_unit}}&nbsp;:
                    <br>
                    -&nbsp;{{refounded_pu_diff}}
                  </span>
                  <br>
									{{tr.price_unit_after_refound}}&nbsp;:
                  <br>
                  {{refounded_pu_text}}
                {{/refounded}}
              </td>
              <td>
                {{tax_text}}&nbsp;%
              </td>
              <td>
                {{quant}}
              </td>
              <td>
                {{total_old_row_text}}
                {{#refounded}}
                  <br>
									{{tr.total_refounded_amount}}&nbsp;:
                  <br>
                  <span class="text-amber">
                  -&nbsp;{{refounded_amount_text}}
                  </span>
                  <br>
									{{tr.sub_total}}&nbsp;: {{total_new_row_text}}
                {{/refounded}}
                {{#tax}}
                  <br>
                  <span class="small text-amber">
                    {{{tr.total_tax_row}}} ({{tax_text}}%)&nbsp;: {{total_tax_row}}
                  </span>
                {{/tax}}
              </td>
            </tr>
            {{/archived_products}}

						{{#refounded}}
            <!-- general render refounded sale  -->
            <tr>
              <td colspan="5"
                  class="right-align fw600">
                {{tr.total_before_refound}}&nbsp;: &nbsp;
              </td>
              <td style="font-weight: 600;">

                {{total_old_amount_sale}}

              </td>
            </tr>
            <tr>
              <th colspan="3"
                  class="orange">
                {{tr.credit_on_invoice_number}}{{sale_number}}
              </th>
              <th colspan="2"
                  class="orange">
                {{tr.refounded_date}}
              </th>
              <th class="orange">
								{{tr.amount_deducted}}
              </th>
            </tr>
            <tr>
              <td colspan="5"
                  class="right-align">
                {{tr.refound_performed_the}}&nbsp;{{refounded_date}}&nbsp;
              </td>
              <td class="fw600">
                -&nbsp;{{total_refounded_amount}}
              </td>
            </tr>
            <!-- end general render refounded sale  -->
            {{/refounded}}

            <tr>
              <td colspan="5"
                  class="right-align fw600">
                {{tr.total_amount_sale}}&nbsp;: &nbsp;
              </td>
              <td class="fw600">

                {{total_amount_sale}}

                {{#total_tax_sale}}
                  <br>
                  <span class="small text-amber">
                    {{{tr.total_tax_sale}}}&nbsp;: {{total_tax_sale}}
                  </span>
                {{/total_tax_sale}}
              </td>
            </tr>

            <tr>
              <td colspan="5"
                  class="border-right">
                {{^payed}}
                  <span class="left">
										<!-- button confirm statut payed -->
										<button id="update_bill_as_payed"
										onclick="$.confirm_update_bill_as_payed({{sale_number}},{{sale_id}});"
										class="btn round blue small_btn" role="button">
											<i class="fas fa-sign-in-alt"></i>
											&nbsp; {{tr.change_status_to_paid}}
											 &nbsp; <i class="fas fa-circle-notch fa-spin hide"></i>
										</button>
                  </span>
                {{/payed}}
                <span class="right fw600 right-align">
                  {{tr.state}}&nbsp;: &nbsp;
                </span>
              </td>

              {{#payed}}
              <td class="light-green">
                <i class="far fa-check-square"></i>&nbsp; {{tr.payed}}
              </td>
              {{/payed}}
              {{^payed}}
              <td class="orange">
                <i class="far fa-comment-dots"></i>&nbsp; {{tr.waiting_for_payment}}
              </td>
              {{/payed}}
            </tr>

          </table>

      </div>
      <!-- END TABLE PURCHASE -->
    </div>
    <!-- PRODUCTS PRUCHASED -->


    <!-- STRIPE INFOS + VALIDATE COMMAND -->
    <div class="two">

      <div class="one dark-gray pad">
				<span class="medium purp margin-bottom tag">
					<span class="">
						<i class="fa-fw fa-money-check-alt fas"></i>&nbsp;
							{{tr.payment_refs}}
					</span>
				</span>
        <p class="mrg0">
          &nbsp; {{tr.ID_card}}&nbsp;: {{id_card}}
          <br>
          &nbsp; {{tr.ID_payment}}&nbsp;: {{id_payment}}
        </p>
      </div>

      <!-- BUTTON REFOUND SALE -->
      <div class="one right-align">
        <button onclick="$.open_modal_refound({{sale_number}});"
          id="refound_sale-{{id}}"
          class="btn orange round card" role="button">
          <i class="fa-share-square fas"></i>&nbsp; {{tr.refound_sale}}
        </button>
      </div>

    </div>
    <!-- STRIPE INFOS + VALIDATE COMMAND -->
  </div>
  <!-- END hidden archive -->
</div>
<!-- END DIV GEN -->

</script>
<!-- END PARTIAL ARCHIVES -->



<!-- REFOUND FORM  -->
<script id="refound_form" type="text/html">
  <!-- CONTAINER GEN -->
  <div id="refound_form"
  class="container dark-gray round">
    <h5 class="fw400 large">
      <i class="fa-share-square fas text-orange"></i>&nbsp;
			{{tr.refound_amount_bill}}&nbsp;{{refound_sale.sale_number}}
    </h5>
    <p>
      <span class="underline">{{tr.customer}}</span>&nbsp;:
      <br>
      {{refound_sale.customer.lastname}}&nbsp;{{refound_sale.customer.firstname}}
      <br>
      {{refound_sale.customer.address}}
      <br>
      {{refound_sale.customer.post_code}}&nbsp;{{refound_sale.customer.city}}
			<br>
			{{refound_sale.customer.country}}
    </p>

    <!--  SOLD PRODUCTS  -->
    <div class="dark-gray responsive">
      <table class="dark-gray centered table">
        <tr>
					<th>{{tr.reference}}</th>
					<th>{{tr.title}}</th>
					<th>{{tr.unit_price}}</th>
					<th>{{tr.tax}}</th>
					<th>{{tr.quant}}</th>
					<th>{{tr.total_row}}</th>
        </tr>
        {{#refound_sale.archived_products}}
        <tr>
          <td>
            {{ref}}
          </td>
          <td>{{title}}</td>
          <td>
            {{PU_text}}
            {{#refounded}}
              <br>
              <span class="small text-amber">
                {{tr.refounded_price_unit}}&nbsp;:
                <br>
                -&nbsp;{{refounded_pu_diff}}
              </span>
              <br>
              {{tr.price_unit_after_refound}}&nbsp;:
              <br>
              {{refounded_pu_text}}
            {{/refounded}}
          </td>
          <td>
            {{tax_text}}&nbsp;%
          </td>
          <td>
            {{quant}}
          </td>
          <td>
            {{total_old_row_text}}

            {{#refounded}}
              <br>
              {{tr.total_refounded_amount}}&nbsp;:
              <br>
              <span class="text-amber">
              -&nbsp;{{refounded_amount_text}}
              </span>
              <br>
              {{tr.sub_total}}&nbsp;: {{total_new_row_text}}
            {{/refounded}}
            {{#tax}}
              <br>
              <span class="small text-amber">
                {{{tr.total_tax_row}}}&nbsp;({{tax_text}}%)&nbsp;:
								{{total_tax_row}}
              </span>
            {{/tax}}
          </td>
        </tr>
        <tr>
          <td colspan="6" class="right-align fw600">

            <span class="margin-right">
              {{tr.refound_sale}}&nbsp;:
            </span>

            <input id="refound_row-{{id}}"
            value="{{refounded_amount_text}}"
            type="number"
            step="0.01"
            min="0"
            class="border border-blue padding-small"
            style="width: 150px;" />
            <br>
            <button onclick="$.refound_row( {{id}}, {{sale_id}} );"
            id="refound_btn-{{id}}"
						role="button"
						type="button"
            class="blue btn card margin-right margin-top medium round small_btn">
            <i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.validate}}</button>&nbsp;&nbsp;
          </td>
        </tr>
        {{/refound_sale.archived_products}}
        {{#refound_sale.refounded}}
          <!-- general render refounded sale  -->
          <tr>
            <td colspan="5"
                class="right-align fw600">
              {{tr.total_before_refound}}&nbsp;: &nbsp;
            </td>
            <td style="font-weight: 600;">
              {{refound_sale.total_old_amount_sale}}
            </td>
          </tr>
          <tr>
            <th colspan="3"
                class="orange">
              {{tr.credit_on_invoice_number}}{{refound_sale.sale_number}}
            </th>
            <th colspan="2"
                class="orange">
              &nbsp;{{tr.refounded_date}}&nbsp;
            </th>
            <th class="orange">
              &nbsp;{{tr.amount_deducted}}&nbsp;
            </th>
          </tr>
          <tr>
            <td colspan="5"
                class="right-align">
                {{tr.refound_performed_the}}&nbsp;{{refound_sale.refounded_date}}&nbsp;
            </td>
            <td class="fw600">
              -&nbsp;{{refound_sale.total_refounded_amount}}
            </td>
          </tr>
          <!-- end general render refounded sale  -->
        {{/refound_sale.refounded}}
        <tr>
          <td colspan="5"
              class="right-align fw600">
            {{tr.total_amount_sale}}&nbsp;:&nbsp;&nbsp;
          </td>
          <td class="fw600">

            {{refound_sale.total_amount_sale}}

            {{#refound_sale.total_tax_sale}}
            <br>
            <span class="small text-amber">
              {{{tr.total_tax_sale}}}&nbsp;:
							{{refound_sale.total_tax_sale}}
            </span>
            {{/refound_sale.total_tax_sale}}
          </td>
        </tr>

        <tr>
          <td colspan="5" class="right-align">
            {{tr.state_sale}}&nbsp;:&nbsp;&nbsp;
          </td>
          {{#refound_sale.payed}}
          <td class="light-green">
            <i class="far fa-check-square"></i>&nbsp; {{tr.payed}}
          </td>
          {{/refound_sale.payed}}
          {{^refound_sale.payed}}
          <td class="orange">
            <i class="far fa-comment-dots"></i>&nbsp; {{tr.waiting_for_payment}}
          </td>
          {{/refound_sale.payed}}
        </tr>

      </table>

    </div>
    <!-- END SOLD PRODUCTS -->

    <!-- BUTTON ABORT -->
    <p>
      <span onclick="$.close_modal();"
      class="gray btn card round">
        <i class="fas fa-ban"></i>&nbsp; {{tr.abort}}
      </span>
    </p>

  </div>
  <!-- END DIV CONTAINER GEN -->
</script>
<!-- REFOUND FORM  -->
