<!-- SET ALL CATEGORIES -->
<script id="categories" type="text/html">

    <div class="pad_product_form">

      <p class="mrg0 large">
        <span id="label_input_cat">
					<i class="fas fa-plus"></i>&nbsp;
          {{{tr.record_new_cat}}}
        </span>
        <br>
        <input type="text"
        id="new_cat"
        name="new_cat"
        value=""
        class="border border-blue input margin-top padding-small"/>
      </p>
      <p>
        <!-- RECORD CAT BTN -->
        <span id="btn_record_cat" onclick="$.insert_new_cat();"
              class="blue btn card round margin-right">
          <i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.record}}</span>

        <!-- ERASE INTPUT CAT BTN -->
        <span onclick="$.clear_field_cats( event );"
              class="dark-gray btn btn card round">
          <i class="fa-ban fas"></i>&nbsp; {{tr.empty}}</span>
      </p>

      <hr class="marg">

      {{#cats_html}}
      <p class="large">
				<i class="fa-cog fas"></i>&nbsp;
        {{{tr.modif_cats}}}
        &nbsp; <span id="render_info_depla_cat"></span>
      </p>
			<p>
        <!-- DEPLOY ALL CATS -->
        <span onclick="$.deploy_ALL_cats(event);"
        class="btn margin-bottom margin-top purp round">
          <i class="fa-fw fa-hand-point-right far deploy_all"></i>&nbsp; {{tr.deploy_all}}
        </span>
      </p>

        {{{cats_html}}}

      {{/cats_html}}
      {{^cats_html}}
      <p class="large">
        {{{tr.empty_cats}}}
      </p>
      {{/cats_html}}

    </div>
    <!-- END DIV CARD -->

</script>
<!-- END  SET ALL CATEGORIES -->
