
<!-- FEATURED PRODUCTS -->
<script id="featured_prods" type="text/html">

	<div class="pad_product_form">

		<p class="large margin-bottom mrg0">
			<i class="fas fa-cogs fa-fw"></i>&nbsp; {{tr.slider_settings}}&nbsp;:
		</p>

		<!-- form SLIDER SETTINGS -->
		<div id="slider_settings_form">
			{{>slider_settings_form}}
		</div>
		<!-- end form SLIDER SETTINGS -->

		<hr class="marg">

		<!-- nb_featured_prods -->
		<p class="large margin-bottom mrg0">
			<i class="fas fa-info-circle fa-fw"></i>&nbsp;
			{{tr.current_slideshow}}&nbsp;:
			&nbsp;<span id="nb_featured_prods">
				{{template.nb_featured_prods}}
			</span>&nbsp;{{tr.products}}
		</p>

		<button onclick="$.record_featured_prods();"
		id="record_featured_prods"
		class="blue btn card round">
			<i class="fas fa-sign-in-alt"></i>&nbsp;
			{{tr.record}}
		</button>

		<!-- featured products list -->
		<div id="featured_prods"
		style="display: flex;
				margin-top: 16px;
		    flex-direction: row;
		    flex-wrap: wrap;
		    align-content: center;
		    align-items: center;
		    justify-content: flex-start;">

			{{>partial_featured_prods}}

		</div>

		<hr class="marg">

		<p class="large">
			<i class="fa-hand-point-right far"></i>&nbsp;
			{{tr.select_products_for_slideshow}}&nbsp;:
		</p>

	  <!-- block pagination -->
	  <div class="block_pagina margin-bottom">
	  </div>

		<!-- DIV featured_prods_selector
		add min-height so that the navigation bar does not blink -->
		<div id="featured_prods_selector"
		style="min-height: 40em;margin-top: 24px;">

			{{>partial_prods_selector}}

		</div>

	</div>
	<!--  end div gen  -->
</script>
<!-- FEATURED PRODUCTS -->



<!-- PARTIEL slider_settings_form -->
<script id="slider_settings_form" type="text/html">

	<form id="slider_settings" class="margin-bottom"
	style="display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;">

		<!-- display slider -->
		<div class="margin-top margin-right">

			<span>{{{tr.display}}}</span>
			<br>
			<button onclick="$.choice_for_slider('display', 1);"
			id="slider-display-yes"
			class="{{#api_settings.SLIDER.display}}blue{{/api_settings.SLIDER.display}}{{^api_settings.SLIDER.display}}gray{{/api_settings.SLIDER.display}}
			btn card round margin-right" role="button" type="button">{{tr.yes}}</button>

			<button onclick="$.choice_for_slider('display', 0);"
			id="slider-display-no"
			class="{{^api_settings.SLIDER.display}}blue{{/api_settings.SLIDER.display}}{{#api_settings.SLIDER.display}}gray{{/api_settings.SLIDER.display}}
			btn card round margin-right" role="button" type="button">{{tr.no}}</button>

			<input id="SLIDER-display"
			name="SLIDER-display"
			value="{{api_settings.SLIDER.display}}"
			type="hidden"
			class="border padding-small round margin-right">

		</div>

		<!-- auto play slider -->
		<div class="margin-top margin-right">

			<span class="margin-right">{{{tr.play}}}</span>
			<br>
			<button onclick="$.choice_for_slider('play', 1);"
			id="slider-play-yes"
			class="{{#api_settings.SLIDER.play}}blue{{/api_settings.SLIDER.play}}{{^api_settings.SLIDER.play}}gray{{/api_settings.SLIDER.play}}
			btn card round margin-right" role="button" type="button">{{tr.yes}}</button>

			<button onclick="$.choice_for_slider('play', 0);"
			id="slider-play-no"
			class="{{^api_settings.SLIDER.play}}blue{{/api_settings.SLIDER.play}}{{#api_settings.SLIDER.play}}gray{{/api_settings.SLIDER.play}}
			btn card round margin-right" role="button" type="button">{{tr.no}}</button>

			<input id="SLIDER-play"
			name="SLIDER-play"
			value="{{api_settings.SLIDER.play}}"
			type="hidden"
			class="border padding-small round">

		</div>

		<!-- delay of slider -->
		<div class="margin-top margin-right">
			<label for="SLIDER-delay" class="margin-right">{{{tr.delay}}}</label>
			<br>
			<input onchange="$('#val_slider_delay').text($('#SLIDER-delay').val());"
			id="SLIDER-delay"
			name="SLIDER-delay"
			value="{{api_settings.SLIDER.delay}}"
			type="range" min="1000" max="30000" step="200"
			class="ranger border padding-small round margin-right">
			<span id="val_slider_delay">{{api_settings.SLIDER.delay}}</span>
		</div>

		<!-- slider speed  -->
		<div class="margin-top margin-right">
			<label for="SLIDER-speed" class="margin-right">{{{tr.speed}}}</label>
			<br>
			<input onchange="$('#val_slider_speed').text($('#SLIDER-speed').val());"
			id="SLIDER-speed"
			name="SLIDER-speed"
			value="{{api_settings.SLIDER.speed}}"
			type="range" min="100" max="5000" step="100"
			class="ranger border padding-small round margin-right">
			<span id="val_slider_speed">{{api_settings.SLIDER.speed}}</span>
		</div>

	</form>

	<!-- RECORD slider settings -->
	<button onclick="$.record_slider_settings();"
	id="record_slider_settings"
	class="blue btn card round" type="button" role="button">
		<i class="fas fa-sign-in-alt"></i>&nbsp;
		{{tr.record_settings}}
	</button>

</script>
<!-- end PARTIAL slider_settings_form -->



<!-- partial_featured_prods -->
<script id="partial_featured_prods" type="text/html">

	{{#featured_prods}}
		{{>one_featured_prod}}
	{{/featured_prods}}
	{{^featured_prods}}
		<p class="large margin">
			{{tr.empty_featured_prods}}
		</p>
	{{/featured_prods}}

</script>
<!-- partial_prods_selector -->




<!-- partial one_featured_prod -->
<script id="one_featured_prod" type="text/html">

	<!-- container one item -->
	<div id="cont_prod-{{id}}"
	class="featured_cont border card inline-block round"
	style="padding: 10px;
	    margin: 10px;">

		<!-- img for one featured product   -->
		<img src="../img/Products/min-{{img_prez}}"
		alt="{{title}}"
		style="width: auto;
		    max-height: 150px;
		    margin: 0 auto;
		    display: block;">

		<!-- sorting / delete one featured prod -->
		<p class="mrg0" style="display: flex;
		    flex-direction: row;
		    align-items: center;
		    justify-content: space-between;
		    align-content: center;">
      <span onclick="$.move_prod( {{id}}, 'prev' );"
			class="btn card light-gray medium pointer round">
        <i class="fas fa-chevron-left text-gray"></i>
      </span>

      <span onclick="$.move_prod( {{id}}, 'suppr' );"
			class="btn card light-gray small pointer round">
      &nbsp;<i class="fa-trash-alt far text-gray"></i>&nbsp;</span>

      <span onclick="$.move_prod( {{id}}, 'next' );"
			class="btn card light-gray medium pointer round">
        <i class="fas fa-chevron-right text-gray"></i>
      </span>
    </p>
	</div>

</script>
<!-- partial one_featured_prod -->



<!-- partial_prods_selector -->
<script id="partial_prods_selector" type="text/html">

	{{#template.featured_prods_selector}}
		<div onclick="$.select_for_featured_prods({{id}});"
		id="feat-{{id}}"
		class="border border-gray card dark-gray margin-bottom round pointer hover-shadow">
			<img data-src="../img/Products/min-{{img_prez}}"
			src="../img/PS_LOGO.png"
			alt="{{title}}"
			style="width: 100px;"
			class="lazyload">
			&nbsp;
			<div class="margin-left"
			style="display: inline-block;
			    		vertical-align: middle;">
				<span class="medium">{{title}}</span>
				<br>
				<span class="small">
					{{tr.price}}&nbsp;:
					&nbsp;<span class="bold wide">{{price_tt_format}}</span>
					&nbsp;&nbsp;{{tr.quantity}}&nbsp;:&nbsp;<span class="bold wide">{{quant}}</span>
				</span>
			</div>
		</div>
	{{/template.featured_prods_selector}}

</script>
<!-- partial_prods_selector -->
