
<!-- id="ip_rejected" -->
<script id="ip_rejected" type="text/html">

  <!-- container gen  -->
  <div id="ip_rejected" class="pad_product_form">

		<p class="">
			{{{tr.note_ip_rejected}}}
		</p>
		<!-- last check date time -->
		<p class="large">
			<i class="fa-calendar-check fa-fw far text-amber"></i>&nbsp;
			{{tr.last_check_ips}}&nbsp;:
				&nbsp;<span id="ip_last_check" class="medium">
								&nbsp; <i class="fa fa-circle-notch fa-spin"></i>
							</span>
		</p>

		<!-- title list ip rejected -->
		<p class="large">
			<i class="fa-fw fa-list-alt far text-amber"></i>&nbsp;
			{{tr.list_ip_rejected}}&nbsp;:
		</p>

		<ul class="ul" id="rejected_list">
			{{>rejected_list}}
		</ul>
	</div>

</script>


<!-- id="rejected_list" - partial -->
<script id="rejected_list" type="text/html">

	{{#ip_rejected.rejected}}
	<li class="border margin-bottom padding padding-16 round">
		<span class="text-purple">{{tr.ip_address}}&nbsp;:</span> &nbsp;{{ip}}
		<br>
		<span class="text-purple">{{tr.ip_rejected_date}}&nbsp;:</span> &nbsp;{{date_reject}}
		<br>
		<span onclick="$.ask_to_unban_ip('{{ip}}');"
		class="btn card gree margin-top round small small_btn">
		  <i class="fa-user-check fas"></i>&nbsp; {{tr.unban_ip}}</span>
	</li>
	{{/ip_rejected.rejected}}
	{{^ip_rejected.rejected}}
	<li>
		{{tr.no_ip_rejected}}
	</li>
	{{/ip_rejected.rejected}}

</script>
