<!--
*
* PlACIDO-SHOP FRAMEWORK - BACK OFFICE
* Copyright © Raphaël Castello , 2019-2022
* Organisation: SNS - Web et Informatique
* Web site: https://sns.pm
* @link: contact@sns.pm
*
-->
<style>
  body {
    background: url(img/back-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-color: #616161!important;
  }
  #center_page {
    min-height: 100vh;
  }
	#container_form_login {
		display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
	}
  form {
  	max-width: 400px;
    min-width: 400px;
  	background: rgba(255, 255, 255, 0.86);
    margin: 35px auto 0;
  }
  .fields_login_container {
    width: 270px;
    margin: 20px auto 14px;
    text-align: left;
    line-height: 34px;
  }
  #login_spinner {
    vertical-align: -webkit-baseline-middle;
    visibility: hidden;
  }
	#block_footer {
    min-width: 400px;
    max-width: 400px;
    bottom: 0;
    margin: auto auto 20px;
    background: rgba(255, 255, 255, 0.86);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
	}
	#block_footer img {
		width: 50px;
		margin-right: 16px;
	}

@media all and (max-width: 768px) {

    body {
      background-size: auto;
    }
		.fields_login_container {
		    width: 80%;
		}
    form {
      min-width: 96%;
    }
		#block_footer {
      min-width: 92%;
			position: inherit;
    }

}
</style>
<div id="container_form_login"
			class="container text-dark-gray">


    <form class="card center inline-block padding-16 round"
    id="form_login" autocomplete="off">

      <p class="large margin">
        {{{tr.welcome_login}}}
      </p>

      <p class="fields_login_container">
        {{tr.mail}}
        <br>
        <input type="email"
				name="mail"
				id="mail"
				value="{{mail}}"
				maxlength="150"
				autocomplete="new-password"
        class="border border-blue input medium padding-small round">
      </p>

      <p class="fields_login_container">
        {{tr.password}}
        <br>
        <input type="password"
        name="mdp"
        id="mdp"
        value=""
				maxlength="500"
        autocomplete="new-password"
        class="border border-blue input medium padding-small round">
      </p>

      <p onclick="$.forgot_password();"
      class="fields_login_container center text-teal">
          <a href="javascript:void(0);"
          class="underline"
          title="{{tr.forgot_password_title_link}}">{{tr.forgot_password}}</a>&nbsp;?
      </p>

      <p class="fields_login_container center">

        <button onclick="$.send_login(event);" id="send_login"
        class="btn card margin-top round teal"
				role="button"
				type="button">
        	<i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.login}}&nbsp;
				</button>
        &nbsp;
        <span id="login_spinner">
          <i class="fas fa-circle-notch fa-spin"></i>
        </span>

      </p>

    </form>

		<div id="block_footer"
		class="card center padding-16 round small text-blue-gray">

			<div>
				<img src="img/PS_LOGO.png"
				alt="Logo Placido-Shop">
			</div>

			<div>
				Placido-Shop&nbsp;Software
				<br>
				<a href="https://placido-shop.com"
        class="underline"
				target="_blank"
				title="Open the Placido-Shop website in a new tab">Placido-Shop</a>&nbsp;&copy;&nbsp;{{year}}
			</div>

		</div>
		<!-- end #block_footer -->

</div>
<!-- END DIV CONTAINER GEN -->
