<!-- MESSAGES -->
<script id="messages" type="text/html">

  <!-- container gen  -->
  <div id="messages" class="pad_product_form">

    <p class="margin-bottom mrg0">
			<span class="">
	      <i class="fa-fw fa-info-circle fas text-amber"></i>&nbsp;
	      {{tr.you_have}}&nbsp;<span class="bold nb_messages">{{template.nb_messages}}</span>
				{{tr.total_messages}}&nbsp;:
			</span>
      {{#template.count_not_read}}
      <span class="nb_new_mess_container">
        <br>
        <i class="fa-fw fa-eye-slash fas text-amber"></i>&nbsp;
        <span class="nb_new_mess">{{template.count_not_read}}</span>&nbsp;{{tr.mess_not_read}}
      </span>
      {{/template.count_not_read}}
    </p>

    <ul class="ul">

      {{#messages}}
      <li id="box_mess-{{mess_id}}"
      class="card dark-gray margin-bottom padding round">

					<!-- USER NAME  -->
          <span class="large">
            <i class="fa-envelope far"></i>&nbsp;
            {{tr.message_of}}&nbsp;:&nbsp;
						<span class="text-cyan">{{name}}</span>
          </span>
          <br>
					<!-- DATE MESSAGE -->
          <span>
            {{tr.date_message}}&nbsp;:&nbsp;{{date_mess}} &nbsp;
          </span>
          <br>

					<p class="margin-top mrg0">
						<!-- BTN SHOW MESS -->
						<button onclick="$.show_message({{mess_id}}, event);"
						class="btn card gree round small small_btn margin-right">
							<i class="ico_mess_rep far fa-hand-point-right"></i>&nbsp;
							<span id="info_show-{{mess_id}}" class="ico_mess_rep">
								{{tr.show}}
							</span>
						</button>

						<!-- STATE REAED / NOT READ -->
						<span id="render_state-{{mess_id}}"
						class="large v-top">
							{{#readed}}
								<i class="fa-fw fa-check fas text-lime large"></i>&nbsp;
								{{tr.readed}}
							{{/readed}}
							{{^readed}}
								<i class="fa-fw fa-eye-slash fas text-purple large"></i>&nbsp;
								{{tr.not_read}}
							{{/readed}}
						</span>

					</p>

          <!-- HIDDEN DIV -->
          <div id="mess-{{mess_id}}"
          class="hidden_mess border-top padding-16 hide">

            <span onclick="$.respond_to_message( {{mess_id}} );"
            class="blue btn card round small small_btn margin-right">
            <i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.respond}}</span>

            <span onclick="$.ask_to_suppr_mess( {{mess_id}} );"
            class="btn card deep-orange round small small_btn">
            <i class="fa-trash-alt far"></i>&nbsp; {{tr.suppr}}</span>

            <p class="large light-gray padding-small round text-black"
            style="white-space: break-spaces;
								    margin: 20px 0 0;
								    font-weight: 400;">{{message}}</p>

          </div>
          <!-- END HIDDEN DIV -->

      </li>
      {{/messages}}
      {{^messages}}
      <li>
        <p class="large center">
          {{tr.empty_messages}}
        </p>
      </li>
      {{/messages}}

    </ul>

  </div>
  <!-- end container gen  -->

</script>
<!-- MESSAGES -->



<!-- send_mail_contact -->
<script id="send_mail_contact" type="text/html">

  <div class="container text-dark-gray">

    <h5 class="border-bottom border-grey large margin-bottom mrg0">
      <i class="fa-envelope fa-fw far text-gray xlarge"></i>&nbsp;
      {{tr.send_a_message_to}}
      <span class="italic text-teal">{{mess_selected.name}}</span>
    </h5>

    <p class="mrg0 fw400">
      {{tr.his_mail}}&nbsp;:&nbsp;
      <span class="bold">{{mess_selected.mail}}</span>
    </p>

    <p class="fw400">
      {{tr.subject}}&nbsp;:
      <br>
      <input
      id="subject"
      name="subject"
      type="text"
      class="border border-blue input margin-top padding-small"
      autocomplete="off"/>
    </p>

    <p class="fw400">
      {{tr.message}}&nbsp;:
      <br>
      <textarea
      id="message"
      name="message"
      rows="8"
      class="border border-blue input margin-top padding-small"
      autocomplete="off"></textarea>
    </p>

    <p>
      <span onclick="$.send_mail_to_customer('{{mess_selected.mail}}');"
      id="sub_mess_mail"
      class="blue btn card round margin-right">
        <i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.send}}
      </span>

      <span onclick="$.close_modal();"
      class="dark-gray btn card round">
          <i class="fas fa-ban"></i>&nbsp; {{tr.abort}}
      </span>
    </p>

  </div>
</script>
<!-- END  send_mail_contact -->
