

<!-- NEW SALES included in "home"-->
<script id="new_sales" type="text/html">

<div id="new_sales_viewer" class="pad_product_form">
  <h5 class="border-bottom">
    <i class="fas fa-shopping-basket"></i>&nbsp;
		{{tr.new_sales}}&nbsp;:
	</h5>

  {{#new_sales}}
  <div id="new_sale_id-{{sale_id}}"
  class="new_sale_item card gray text-dark-grey round pad">

    <!-- SALE NUMBER + DATE  -->
    <div class="dark-gray flex_left_right pad">

			<!-- btn deploy  -->
      <div class="">
        <span onclick="$.deploy_new_sale({{sale_id}});"
              class="btn card gree round small small_btn">
          <i id="deploy_new_sale-{{sale_id}}"
          class="fa-fw fa-hand-point-right far"></i>&nbsp; {{tr.show}}</span>
      </div>

			<!-- suppr sale  -->
      <div class="">
          <span onclick="$.ask_to_suppr_sale({{sale_id}});"
                id="suppr_sale-{{sale_id}}"
                class="btn card deep-orange round small small_btn">
            <i class="fa-trash-alt far"></i>&nbsp; {{tr.suppr}}</span>
      </div>

			<!-- infos sale -->
      <div class="col dark-gray margin-top padding-small"
      style="padding-bottom: 5px!important;">

        <!-- sale id -->
        <span class="large fw600">
          <i class="fa-fw fas fa-dolly text-amber"></i>&nbsp;
          {{tr.order_number}}&nbsp;<span class="fw600 wide">{{sale_id}}</span>
				</span>
        <br>
				<!-- customer -->
        <span class="large">
          <i class="fa-fw fa-user far text-amber"></i>&nbsp;
					{{tr.customer}}&nbsp;:
					<span class="wide text-yellow">
						&nbsp;{{customer_settings.lastname}}&nbsp;{{customer_settings.firstname}}
					</span>
        </span>
				<br>
				<!-- date sale  -->
        <span class="large">
          <i class="fa-fw fa-calendar-alt far text-amber"></i>&nbsp;
					{{tr.date_sale}}&nbsp;:&nbsp;&nbsp;{{date_format}}
        </span>
				<br>
				<!-- total mount sale -->
				<span class="large">
					<i class="fa-fw fas fa-shopping-basket text-amber"></i>&nbsp;
					{{tr.total_amount_sale}}&nbsp;:&nbsp;
					<span class="wide">
						{{total_amount_sale}}
					</span>
				</span>

      </div>
			<!-- end infos sale -->

    </div>
    <!-- end row SALE NUMBER + infos sale  -->

    <!-- HIDDEN CUSTOMER + LIV. ADDRESS -->
    <div class="row sale_item large">
      <div class="customer_datas col m6 s12 dark-gray margin-top padding padding-16">

        <p class="mrg0 border-bottom">
          <i class="fa-fw fas fa-user text-amber"></i>
          &nbsp;&nbsp;{{tr.customer}}&nbsp;:
        </p>

				<div class="flex_print_address">
					<!-- icons + button print -->
					<p class="margin-right margin-top">
						<i class="fa-fw fa-home fas text-amber v-top"
						style="margin: 14px 6px 0 0;"></i>
						<br>
						<!-- print BTN -->
						<i onclick="$.print( '#print-{{sale_id}}' );"
						class="border border-orange fa-print fas hover-shadow padding-small pointer round text-amber"
						style="margin: 10px 10px 0 0;"
						title="{{tr.print}}"></i>
					</p>

          <!-- element to print -->
          <p id="print-{{sale_id}}"
          class="mrg0 margin-top">

            {{customer_settings.lastname}}&nbsp;&nbsp;{{customer_settings.firstname}}
            <br>
            {{customer_settings.address}}
            <br>
            {{customer_settings.post_code}}&nbsp;&nbsp;{{customer_settings.city}}
						<br>
						{{customer_settings.country}}
          </p>
          <!-- / element to print -->
				</div>

        <p class="mrg0 margin-top">
          <span>
            <i class="fa-fw fas fa-mobile-alt text-amber"></i>&nbsp;
            {{customer_settings.tel}}
          </span>
          <br>
          <span>
            <i class="fa-fw far fa-envelope text-amber"></i>&nbsp;
            {{customer_settings.mail}}
            <br>
            <i class="fa-fw fa-paper-plane far text-amber"></i>&nbsp;
            <a
            onclick="$.open_modal_mail( {{index}} );"
            href="javascript:void(0);"
            title="Contacter par e-mail"
            class="open_modal underline pointer">{{tr.contact_by_mail}}</a>
          </span>
        </p>

      </div>

      {{#sup}}
      <div class="customer_datas col m6 s12 dark-gray margin-top padding padding-16">

        <p class="mrg0 border-bottom">
          <i class="fa-fw fas fa-truck text-amber"></i>
          &nbsp;&nbsp;{{tr.delivery}}&nbsp;:</span>
        </p>

				<div class="flex_print_address">

				  <p class="margin-right margin-top">
            <i class="fa-fw fa-home fas text-amber v-top"
            style="margin: 14px 6px 0 0;"></i>
            <br>
            <!-- print BTN -->
            <i onclick="$.print( '#print_sup-{{sale_id}}' );"
            class="border border-orange fa-print fas hover-shadow padding-small pointer round text-amber"
            style="margin: 10px 10px 0 0;"
            title="{{tr.print}}"></i>
          </p>

          <!-- element to print -->
          <p id="print_sup-{{sale_id}}"
          class="mrg0 margin-top">

              {{customer_settings.lastname_sup}}&nbsp;&nbsp;{{customer_settings.firstname_sup}}
              <br>
              {{customer_settings.address_sup}}
              <br>
              {{customer_settings.post_code_sup}}&nbsp;&nbsp;{{customer_settings.city_sup}}
							<br>
							{{customer_settings.country_sup}}
            </span>
          </p>

				</div>

		  </div>
      {{/sup}}
    </div>
    <!-- END ROW CUSTOMER + LIV. ADDRESS -->

    <!-- PRODUCTS PRUCHASED -->
    <div class="row sale_item">
      <div class="col s12 dark-gray padding padding-16 margin-top">
        <p class="mrg0 border-bottom">
          <i class="fa-fw fa-shopping-basket fas text-amber"></i>
          &nbsp;&nbsp;{{tr.products}}&nbsp;:
        </p>
      </div>

      <div class="col s12 dark-gray padding responsive"
      style="padding-bottom: 16px!important;">
      <!--  TABLE PURCHASE -->
        <table class="responsive bordered centered table">
          <tr>
            <th>{{tr.img}}</th>
            <th>{{tr.title}}</th>
            <th>{{tr.unit_price}}</th>
            <th>{{tr.tax}}</th>
            <th>{{tr.quant}}</th>
            <th>{{tr.total_row}}</th>
          </tr>
          {{#products_settings}}
          <tr class="light-grey">
            <td>
              <!-- IMG PRODUCT -->
              <img onclick="$.reminder_img_prod('{{img_name}}');"
              src="../img/PS_LOGO.png"
              data-src="../img/Products/min-{{img_name}}"
              class="open_modal hover-shadow pointer"
              style="width: 120px;" />
            </td>
            <td style="max-width: 500px;
						    min-width: 280px;
						    text-align: left;">
								{{title}}
						</td>
            <td>{{PU_text}}</td>
            <td>{{tax_text}}&nbsp;%</td>
            <td>{{quant}}</td>
            <td>
              {{total_old_row_text}}
              {{#tax}}
                <br>
                <span class="small text-deep-purple">
                {{{tr.total_tax_row}}}&nbsp;({{tax_text}}%)&nbsp;:&nbsp;{{total_tax_row}}
                </span>
              {{/tax}}
            </td>
          </tr>
          {{/products_settings}}

          <tr class="light-grey">
            <td colspan="5" class="right-align fw600">
              {{tr.total_amount_sale}}&nbsp;:&nbsp;&nbsp;
            </td>
            <td class="fw600">
              {{total_amount_sale}}
              {{#total_tax_sale}}
                <br>
                <span class="small text-deep-purple">
                  {{{tr.total_tax_sale}}}&nbsp;:&nbsp;{{total_tax_sale}}
                </span>
              {{/total_tax_sale}}
            </td>
          </tr>

          <tr class="light-grey">
            <td colspan="5" class="right-align">
							<span class="fw600">
								{{tr.state_sale}}&nbsp;:&nbsp;&nbsp;
							</span>
              {{^payed}}
								<br>
                <span class="">
                  <label onclick="$.check_this( 'notif_as_payed', {{sale_id}} );"
                  for="notif_as_payed-{{sale_id}}" class="pointer">
                    <i class="fa-square far text-green v-top xlarge pointer"></i>
										&nbsp; {{tr.notif_as_payed}}
                  </label>
                  <input id="notif_as_payed-{{sale_id}}"
                  name="payed"
                  value="payed"
                  type="checkbox"
                  class="hide" />
                </span>
              {{/payed}}
            </td>

            {{#payed}}
            <td class="light-green">
              <i class="far fa-check-square"></i>&nbsp; {{tr.payed}}
            </td>
            {{/payed}}
            {{^payed}}
            <td class="orange">
              <i class="far fa-comment-dots"></i>&nbsp; {{tr.waiting_for_payment}}
            </td>
            {{/payed}}
          </tr>

        </table>
      <!-- END TABLE PURCHASE -->
      </div>
      <!-- end col table -->
    </div>
    <!-- END PRODUCTS PRUCHASED -->

    <!-- VALID ARCHIVAGE AND/OR SEND MAIL/BILL TO CUSTOMER -->
    <div class="row sale_item">
      <div class="col s12 dark-gray padding padding-16 margin-top">
        <p class="mrg0">
          <label onclick="$.check_this( 'send_bill_by_mail', {{sale_id}} );"
          for="send_bill_by_mail-{{sale_id}}"
          class="pointer">
            <i class="fa-square far text-green v-top xlarge"></i>&nbsp;
            {{tr.send_bill_by_mail}}.
          </label>
          <input type="checkbox"
          id="send_bill_by_mail-{{sale_id}}"
          class="hide" />&nbsp;
        </p>

        <p>
          <label onclick="$.check_this( 'send_mail_confirm_treatment', {{sale_id}} );"
          for="send_mail_confirm_treatment-{{sale_id}}"
          class="pointer">
            <i class="fa-square far text-green v-top xlarge"></i>&nbsp;
            {{tr.send_order_processing_mail}}.
          </label>
          <input type="checkbox"
          id="send_mail_confirm_treatment-{{sale_id}}"
          class="hide" />&nbsp;
        </p>

        <p class="mrg0">
          <button onclick="$.click_to_archive_sale({{sale_id}});"
          id="archive_sale-{{sale_id}}"
          class="blue btn card round" role="button">
            <i class="fas fa-sign-in-alt"></i>&nbsp;
            {{tr.archive_sale}}
          </button>
        </p>

      </div>

    </div>
    <!-- END row VALIDATE COMMAND -->

</div>
<!-- END DIV ONE PRODUCT div id="new_sale_id-{{id}}" -->
{{/new_sales}}
{{^new_sales}}
  <p class="large margin-left">
    {{tr.no_new_sales}}.
  </p>
{{/new_sales}}
</div>
<!-- END CONTAINER GEN -->
</script>
<!-- END NEW SALES -->
