
<!-- SETTINGS VUE -->
<script id="settings" type="text/html">


  <!-- div gen id="settings" -->
  <div id="settings" class="pad_product_form">

    <!-- MODIF ACCESS LOGIN -->
    <div id="login_access"
    class="card dark-gray panel round">

      <h3 onclick="$.deploy_settings_item('login_access');"
      class="pointer">
        <i class="ico_login_access fa-fw fa-hand-point-right far text-cyan"></i>&nbsp;
        <span class="fw400 large title_set">{{tr.modif_access_codes}}</span>&nbsp;:
      </h3>

      <!-- hidden_access_login -->
      <div class="hidden_login_access animate-zoom" style="display: none;">

        <!-- fields container -->
        <div class="row">
          <div class="col s12 m6">
            <!-- ADMIN PASS FORM -->
            <form id="form_admin_pass" >

              <p class="large">
                <label for="name">
                  <i class="fa-user-alt fas text-amber"></i>&nbsp; {{tr.your_name}}&nbsp;:
                </label>
                <br>
                <input
                id="name"
                name="name"
                value="{{user.name}}"
                type="text"
                class="border border-blue padding-small" />
              </p>

              <p class="large">
                <label for="mail">
                  <i class="fas fa-at text-amber"></i>&nbsp; {{tr.mail}}&nbsp;:
                </label>
                <br>
                <input
                id="mail"
                name="mail"
                value="{{user.mail}}"
                type="text"
                class="border border-blue padding-small" />
              </p>

              <p class="large">
                <label for="passw">
                  <i class="fas fa-key text-amber"></i>&nbsp;
                  {{tr.password}}&nbsp;:
                </label>
                <br>
                <input
                id="passw"
                name="passw"
                type="text"
                class="border border-blue padding-small"
                autocomplete="off"/>
              </p>

              <!-- BUTTONS -->
              <p>
                <button onclick="$.change_admin_pass(event);"
                id="change_admin_pass"
                class="blue btn card round margin-right"
                type="button"
                role="button">
                  <i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.record}}
                </button>

                <button onclick="$.clear_set_admin_pass();"
                class="gray btn card round"
                type="button"
                role="button">
                  <i class="fas fa-ban"></i>&nbsp; {{tr.abort}}
                </button>
              </p>

            </form>
            <!-- ADMIN PASS FORM -->
          </div>
          <!-- end col 1 -->
          <!-- col 2 -->
          <div class="col s12 m6">

            <!-- website admins -->
            <p class="large">
              <i class="fa-user-friends fas"></i>&nbsp;
              {{tr.website_admins}}
            </p>

            <!-- button add new admin -->
            <p class="mrg0">
              <button onclick="$.open_modal_admin( null, 'add' );"
              class="blue btn card round"
              type="button"
              role="button"
              style="margin-top: 0;">
                <i class="fa-user-plus fas"></i>&nbsp; {{tr.add_new_admin}}
              </button>
            </p>

            <!-- other admins block -->
            <div id="admins_list">
              {{>admins_list}}
            </div>
            <!-- other admins block -->

          </div>
          <!-- end col 2 -->
        </div>
        <!-- end row -->

      </div>
      <!-- end hidden_access_login -->


    </div>
    <!-- END MODIF ACCESS LOGINS -->



		<!-- PLACIDO-SHOP TOKEN -->
    <div id="token_placido"
    class="card dark-gray panel round">

      <h3 onclick="$.deploy_settings_item('token_placido');"
      class="pointer">
        <i class="ico_token_placido fa-fw fa-hand-point-right far text-cyan"></i>&nbsp;
        <span class="fw400 large title_set">{{tr.token_placido}}</span>&nbsp;:
      </h3>

      <!-- hidden_token_placido -->
      <div class="hidden_token_placido animate-zoom large" style="display: none;">

				<p>
					<i class="fa-info-circle fas text-cyan"></i>&nbsp;
					{{{tr.token_placido_info}}}
				</p>

				<p class="text-amber text-medium">
					{{{tr.token_placido_info_3}}}
				</p>

				<p>
					<label for="token_placido_input" class="large">
						<i class="fa-hand-point-right far"></i>&nbsp;
						{{tr.token_placido_info_2}}
					</label>

					<span id="token_placido_state">
						{{>token_placido_state}}
					</span>

					<br>

					<input id="token_placido_input"
					name="token_placido_input"
					type="text"
					value="{{#user.token_Placido}}{{user.token_Placido}}{{/user.token_Placido}}"
					class="border border-blue margin-top padding-small">
				</p>

				<p>
					<button onclick="$.record_token_placido();"
					id="btn_token_placido"
					type="button"
					role="button"
					class="blue btn card round">
					<i class="fas fa-sign-in-alt"></i>&nbsp;
					{{tr.record_placido_token}}
					</button>
				</p>

			</div>
      <!-- end hidden_token_placido -->

    </div>
		<!-- PLACIDO-SHOP TOKEN -->



    <!-- STRIPE KEYS -->
    <div id="stripe_keys"
    class="card dark-gray panel round">

      <h3 onclick="$.deploy_settings_item('stripe_keys');"
      class="pointer">
        <i class="ico_stripe_keys fa-fw fa-hand-point-right far text-cyan"></i>&nbsp;
        <span class="fw400 large title_set">{{tr.enter_stripe_keys}}</span>&nbsp;:
      </h3>

      <!-- hidden_stripe_keys -->
      <div class="hidden_stripe_keys animate-zoom" style="display: none;">

        <p class="fw400 medium text-amber">
          {{{tr.info_stripe_keys}}}
        </p>

        <hr>

        <h3>
          <i class="fa-flask far fas"></i>&nbsp;
          {{tr.test_mode}}&nbsp;:
        </h3>

        <p class="mrg0">
          <span class="medium">
            {{tr.test_mode_info_stripe}}.
          </span>
        </p>

        <p>
          <label for="test_pub_key" class="large">
            {{tr.stripe_test_public_key}}
          </label>
          <br>
          <input
          id="test_pub_key"
          name="test_pub_key"
          value=""
          type="text"
          class="border border-blue margin-top padding-small" />&nbsp;
          {{#shop.test_pub_key}}&nbsp;
          <i class="fas fa-check text-green"></i>
          {{/shop.test_pub_key}}
        </p>
        <p>
          <label for="test_priv_key" class="large">
            {{tr.stripe_test_secret_key}}
          </label>
          <br>
          <input
          id="test_priv_key"
          name="test_priv_key"
          value=""
          type="text"
          class="border border-blue margin-top padding-small" />&nbsp;
          {{#shop.test_priv_key}}&nbsp;
          <i class="fas fa-check text-green"></i>
          {{/shop.test_priv_key}}
        </p>

        <!-- BUTTONS -->
        <p>
          <span onclick="$.set_stripe_keys('test');"
          id="btn_test_keys"
          class="blue btn card round">
            <i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.record}}
          </span>
        </p>

        <hr>

        <!-- PRODUCTION KEYS -->
        <h3>
          <i class="fa-dollar-sign fas"></i>&nbsp;
          {{tr.production_mode}}&nbsp;:
        </h3>

        <p>
          <span class="medium">
            {{tr.production_mode_info_stripe}}.
          </span>
        </p>

        <p>
          <label for="prod_pub_key" class="large">
            {{tr.stripe_production_public_key}}
          </label>
          <br>
          <input
          id="prod_pub_key"
          name="prod_pub_key"
          value=""
          type="text"
          class="border border-blue margin-top padding-small" />&nbsp;{{#shop.prod_pub_key}}&nbsp;<i
          class="fas fa-check text-green"></i>
          {{/shop.prod_pub_key}}
        </p>
        <p class="mrg0">
          <label for="prod_priv_key" class="large">
            {{tr.stripe_production_secret_key}}
          </label>
          <br>
          <input type="text"
          name="prod_priv_key"
          id="prod_priv_key"
          value=""
          class="border border-blue margin-top padding-small" />&nbsp;{{#shop.prod_priv_key}}&nbsp;<i
          class="fas fa-check text-green"></i>
          {{/shop.prod_priv_key}}
        </p>


        <!-- BUTTONS -->
        <p>
          <span onclick="$.set_stripe_keys('prod');"
          id="btn_prod_keys"
          class="blue btn card round">
            <i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.record}}
          </span>
        </p>

      </div>
      <!-- hidden_stripe_keys -->

    </div>
    <!-- END STRIPE KEYS -->



    <!-- PAYMENT MODALITIES -->
    <div id="pay_modalities"
    class="card dark-gray panel round">

      <h3 onclick="$.deploy_settings_item('pay_modalities');"
      class="pointer">
        <i class="ico_pay_modalities fa-fw fa-hand-point-right far text-cyan"></i>&nbsp;
        <span class="fw400 large title_set">
          {{tr.pay_modalities}}
        </span>&nbsp;:
      </h3>

      <!-- hidden_pay_modalities -->
      <div class="hidden_pay_modalities animate-zoom" style="display: none;">

        <p class="large">
					{{{tr.able_to_pay_no_card}}}
        </p>

        <p class="large text-amber">
					{{tr.able_to_pay_no_card_warning}}
        </p>

        <p class="large">
					{{{tr.able_to_pay_no_card_info}}}
        </p>

        <p class="fw600 large">
          <i class="far fa-hand-point-right"></i>&nbsp;
					{{tr.able_other_payment}}&nbsp;:
        </p>

        <p class="large">

          <label onclick="$.select_pay_mode('by_money');"
          for="by_money"
          class="inline-block margin-bottom pointer">
            <i class="fa-{{#shop.by_money}}check-{{/shop.by_money}}square
            far xxlarge text-amber pointer v-top"></i>
            &nbsp; {{tr.enable_other_payment}}
          </label>
          <input
          id="by_money"
          name="by_money"
          value="by_money"
          type="radio"
          class="hide"
          {{#shop.by_money}}checked{{/shop.by_money}} />

          <br>

          <label onclick="$.select_pay_mode('not_by_money');"
          for="not_by_money"
          class="pointer">
            <i class="fa-{{^shop.by_money}}check-{{/shop.by_money}}square
            far xxlarge text-green pointer v-top"></i>
            &nbsp; {{tr.disable_other_payment}}
          </label>
          <input
          id="not_by_money"
          name="by_money"
          value="not_by_money"
          type="radio"
          class="hide"
          {{^shop.by_money}}checked{{/shop.by_money}} />
        </p>

        <!-- BUTTONS -->
        <p>
          <span onclick="$.update_by_money();"
              class="blue btn card round">
                <i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.record}}
          </span>
        </p>

      </div>
      <!-- hidden_pay_modalities -->

    </div>
    <!-- END PAYMENT MODALITIES -->


		<!-- website compression -->
    <div id="website_compression"
    class="card dark-gray panel round">

      <h3 onclick="$.deploy_settings_item('website_compression');"
      class="pointer">
        <i class="ico_website_compression fa-fw fa-hand-point-right far text-cyan"></i>&nbsp;
        <span class="fw400 large title_set">{{tr.website_compression}}</span>&nbsp;:
      </h3>

      <!-- hidden_website_compression -->
      <div class="hidden_website_compression animate-zoom" style="display: none;">

				<!-- COMPRESSION -->
				<fieldset class="border margin-bottom padding padding-16 round">

					<legend class="fw600 large"
					style="padding: 0 16px;">{{tr.compression}}&nbsp;:</legend>

					<p class="mrg0">
						<span>
							{{{tr.COMPRESSED_DATE}}}&nbsp;:
							<span id="COMPRESSED_DATE">{{api_settings.COMPRESSED_DATE}}</span>
						</span>
					</p>

					<p>
						<span>{{{tr.DO_COMPRESS_JS_CSS}}}</span>
						<br>
						<button onclick="$.compress_ressources();"
						id="compress_ressources"
						class="blue btn card round" role="button" type="button">
						<i class="fas fa-sign-in-alt"></i>&nbsp;
						{{tr.execute_compress}}
						</button>
					</p>

					<p class="mrg0">
  					<span>{{{tr.COMPRESSED}}}</span>
  					<br>
  					<button onclick="$.use_compressed_ressources(1);"
  					id="use_compressed_true"
  					class="{{#api_settings.COMPRESSED}}blue{{/api_settings.COMPRESSED}}{{^api_settings.COMPRESSED}}gray{{/api_settings.COMPRESSED}}
  					btn card round margin-right" role="button" type="button">{{tr.yes}}</button>

  					<button onclick="$.use_compressed_ressources(0);"
  					id="use_compressed_false"
  					class="{{^api_settings.COMPRESSED}}blue{{/api_settings.COMPRESSED}}{{#api_settings.COMPRESSED}}gray{{/api_settings.COMPRESSED}}
  					btn card round" role="button" type="button">{{tr.no}}</button>
					</p>
				</fieldset>
				<!-- END COMPRESSION -->

			</div>
      <!-- END  hidden_website_compression -->

		</div>
		<!-- END  website compression -->


		<!-- REBUILD SITEMAP -->
    <div id="rebuild_sitemap"
    class="card dark-gray panel round">

      <h3 onclick="$.deploy_settings_item('rebuild_sitemap');"
      class="pointer">
        <i class="ico_rebuild_sitemap fa-fw fa-hand-point-right far text-cyan"></i>&nbsp;
        <span class="fw400 large title_set">{{tr.rebuild_sitemap}}</span>&nbsp;:
      </h3>

      <!-- hidden_rebuild_sitemap -->
      <div class="hidden_rebuild_sitemap animate-zoom" style="display: none;">

					<p class="large">
              {{{tr.rebuild_sitemap_info}}}
					</p>

          <p>
            <button onclick="$.rebuild_sitemap();"
  					class="blue btn card round" role="button" type="button">
              <i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.execute_rebuild_sitemap}}
            </button>
          </p>

			</div>
      <!-- END  hidden_rebuild_sitemap -->

		</div>
		<!-- END REBUILD SITEMAP -->


    <!-- API SETTINGS -->
    <div id="api_settings"
    class="card dark-gray panel round">

      <h3 onclick="$.deploy_settings_item('api_settings');"
      class="pointer">
        <i class="ico_api_settings fa-fw fa-hand-point-right far text-cyan"></i>&nbsp;
        <span class="fw400 large title_set">{{tr.api_settings}}</span>&nbsp;:
      </h3>

      <!-- hidden_api_settings -->
      <div class="hidden_api_settings animate-zoom" style="display: none;">

				<!-- VERSION API -->
				<p>
					<span class="large">{{tr.VERSION}}&nbsp;: {{api_settings.VERSION}}</span>
        </p>

        <p>
          <i class="fa-exclamation-triangle fa-fw fas text-amber"></i>&nbsp;
          <span class="text-amber">{{{tr.alert_settings}}}</span>
				</p>

				<form id="form_api_settings">

					<p>
						<label for="HOST">{{{tr.HOST}}}</label>
						<br>
						<input
							name="HOST"
							value="{{api_settings.HOST}}"
							type="text"
							class="border padding-small round">
					</p>

					<p>
						<label for="WEBSITE_TITLE">{{{tr.WEBSITE_TITLE}}}</label>
						<br>
						<input
						name="WEBSITE_TITLE"
						value="{{api_settings.WEBSITE_TITLE}}"
						type="text"
						class="border padding-small round">
					</p>

					<p>
						<label for="META_DESCR">{{{tr.META_DESCR}}}</label>
						<br>
						<textarea
						name="META_DESCR"
						rows="2"
						maxlength="350"
						class="border padding-small round"
						style="resize: auto;">{{api_settings.META_DESCR}}</textarea>
					</p>

          <p>
            <label>{{tr.allow_search_engines}}</label>
            <br>
            <button onclick="$.allow_search_engines(1);"
            class="allow_search_engines {{#api_settings.ALLOW_SEARCH_ENGINES}}blue{{/api_settings.ALLOW_SEARCH_ENGINES}}{{^api_settings.ALLOW_SEARCH_ENGINES}}gray{{/api_settings.ALLOW_SEARCH_ENGINES}} btn card round margin-right"
            role="button"
            type="button">
		          <i class="fa-check fas"></i>&nbsp; {{tr.allow}}
		        </button>

            <button onclick="$.allow_search_engines(0);"
            class="disallow_search_engines {{#api_settings.ALLOW_SEARCH_ENGINES}}gray{{/api_settings.ALLOW_SEARCH_ENGINES}}{{^api_settings.ALLOW_SEARCH_ENGINES}}blue{{/api_settings.ALLOW_SEARCH_ENGINES}} btn card round margin-right"
            role="button"
            type="button">
		          <i class="fa-ban fas"></i>&nbsp; {{tr.disallow}}
		        </button>

            <!-- hidden input search engines -->
            <input type="hidden" name="ALLOW_SEARCH_ENGINES" value="{{api_settings.ALLOW_SEARCH_ENGINES}}">
					</p>

          <hr>

					<p>
						<button onclick="$.add_img_prod();"
						id="add_sn_img"
						class="blue btn card round"
						role="img"
						type="button"
            style="margin-top: 0;">
		          <i class="far fa-image"></i>&nbsp; {{tr.social_networks_imgs}}
		        </button>
						<input id="img" name="img" type="file" class="hide">
					</p>

					<p>
						<label for="LOGO_SN_SIZE">{{tr.image_size}}</label>
						<br>
						<input onchange="$('#range_img_sn').text($('#LOGO_SN_SIZE').val());"
						id="LOGO_SN_SIZE"
						name="LOGO_SN_SIZE"
						value="{{api_settings.LOGO_SN_SIZE}}"
						type="range"
						min="600"
						max="1200"
						step="100"
						class="ranger border padding-small round margin-right">
						<span id="range_img_sn">{{api_settings.LOGO_SN_SIZE}}</span>
					</p>

					<div id="rows_img" style="justify-content: left;">
					</div>

          <hr>

					<p>
						<label for="PUBLIC_NOTIFICATION_MAIL">{{{tr.PUBLIC_NOTIFICATION_MAIL}}}</label>
						<br>
						<input
						name="PUBLIC_NOTIFICATION_MAIL"
						value="{{api_settings.PUBLIC_NOTIFICATION_MAIL}}"
						type="text"
						class="border padding-small round">
					</p>

					<p>
						<label for="TOKEN_TIME">{{{tr.TOKEN_TIME}}}</label>
						<br>
						<input
						name="TOKEN_TIME"
						value="{{api_settings.TOKEN_TIME}}"
						type="number" min="300"
						class="border padding-small round">
					</p>

					<p>
						<label for="NB_FOR_PAGINA">{{{tr.NB_FOR_PAGINA}}}</label>
						<br>
						<input
						name="NB_FOR_PAGINA"
						value="{{api_settings.NB_FOR_PAGINA}}"
						type="number" min="1"
						class="border padding-small round">
					</p>

					<p>
						<label for="NB_FOR_PAGINA_BACKEND">{{{tr.NB_FOR_PAGINA_BACKEND}}}</label>
						<br>
						<input
						name="NB_FOR_PAGINA_BACKEND"
						value="{{api_settings.NB_FOR_PAGINA_BACKEND}}"
						type="number" min="1"
						class="border padding-small round">
					</p>

					<p>
						<label for="SHORT_TEXT">{{{tr.truncate_short_text}}}</label>
						<br>
						<input
						name="SHORT_TEXT"
						value="{{api_settings.SHORT_TEXT}}"
						type="number" min="1"
						class="border padding-small round">
					</p>

					<!-- 'inline' / 'mozaic' -->
					<p>

            <label>{{{tr.display_products}}}</label>
            <br>
            
            <!-- buttons -->
            <button onclick="$.display_products('mozaic');"
            class="display_products display_products_mozaic {{#template.display_mozaic}}blue{{/template.display_mozaic}}
            {{^template.display_mozaic}}gray{{/template.display_mozaic}} btn card margin-right round"
            type="button"
            role="button">
            <i class="fas fa-th" aria-hidden="true"></i>&nbsp;
            {{tr.show_products_mozaic}}
            </button>

          	<button onclick="$.display_products('inline');"
						class="display_products display_products_inline {{#template.display_inline}}blue{{/template.display_inline}}
						{{^template.display_inline}}gray{{/template.display_inline}} btn card round"
            type="button"
            role="button">
						<i class="fas fa-th-list" aria-hidden="true"></i>&nbsp;
						{{tr.show_products_on_line}}
            </button>

            <!-- hidden inputs -->
            <input
            type="radio"
            name="DISPLAY_PRODUCTS"
            value="mozaic"
            id="display_mozaic"
            class="hide" {{#template.display_mozaic}}checked{{/template.display_mozaic}}>

            <input
						type="radio"
						name="DISPLAY_PRODUCTS"
						value="inline"
						id="display_inline"
						class="hide" {{#template.display_inline}}checked{{/template.display_inline}}>

					</p>
					<!-- end 'inline' / 'mozaic' -->

					<hr>

					<p>
						<span class="fw600 large">{{{tr.DEF_ARR_SIZES}}}&nbsp;:</span>
						{{{tr.DEF_ARR_SIZES_notice}}}
					</p>
					<p>
						<label for="DEF_ARR_SIZES-min">{{{tr.min}}}</label>
						<br>
						<input name="DEF_ARR_SIZES-min"
						value="{{api_settings.DEF_ARR_SIZES.min}}"
						type="text"
						class="border padding-small round">
					</p>
					<p>
						<label for="DEF_ARR_SIZES-max">{{{tr.max}}}</label>
						<br>
						<input name="DEF_ARR_SIZES-max"
						value="{{api_settings.DEF_ARR_SIZES.max}}"
						type="text"
						class="border padding-small round">
					</p>

					<hr>

					<!-- GLOBAL LOCALE -->
					<p>
						<label for="LANG_LOCALE">{{{tr.LANG_LOCALE}}}</label>
						<br>
						<select name="LANG_LOCALE" id="LANG_LOCALE"
						class="border padding-small round">
						{{#api_locales_list}}
							<option value="{{code}}" {{selected}} {{^currency_iso}}disabled{{/currency_iso}}>
								{{name}} {{#currency_iso}} - {{{symbol}}}{{/currency_iso}}</option>
						{{/api_locales_list}}
						</select>
					</p>

					<!-- TIMEZONE -->
					<p>
						<label for="TIMEZONE">{{{tr.TIMEZONE}}}</label>
						<br>
						<select name="TIMEZONE" id="TIMEZONE"
						class="border padding-small round">
						{{#api_timezones_list}}
							<option value="{{timezone}}" {{selected}}>{{timezone}}</option>
						{{/api_timezones_list}}
						</select>
					</p>

					<!-- API TRANSLATIONS  -->
					<p>
						<label for="LANG_FRONT">{{{tr.LANG_FRONT}}}</label>
						<br>
						<select name="LANG_FRONT" id="LANG_FRONT"
						class="border padding-small round">
							{{#api_lang_FRONT}}
							<option value="{{code}}" {{selected}}>{{code}}</option>
							{{/api_lang_FRONT}}
						</select>
					</p>

					<p>
						<label for="LANG_BACK">{{{tr.LANG_BACK}}}</label>
						<br>
						<select name="LANG_BACK" id="LANG_BACK"
						class="border padding-small round">
							{{#api_lang_BACK}}
							<option value="{{code}}" {{selected}}>{{code}}</option>
							{{/api_lang_BACK}}
						</select>
					</p>

					<hr>

					<p>
						<label for="ADMIN_FOLDER">{{{tr.ADMIN_FOLDER}}}</label>
						<br>
						<input
						name="ADMIN_FOLDER"
						value="{{api_settings.ADMIN_FOLDER}}"
						type="text"
						class="border padding-small round">
					</p>

					<p>
						<button onclick="$.record_api_settings();"
						id="record_api_settings"
						class="blue btn card round"
						role="button"
						type="button">
						<i class="fas fa-sign-in-alt"></i>&nbsp;
						{{tr.record}}
						</button>
					</p>

				</form>
			</div>
      <!-- end  hidden_api_settings -->

		</div>
    <!-- API SETTINGS -->


		<!-- MAILBOX -->
    <div id="mailbox"
    class="card dark-gray panel round">

      <h3 onclick="$.deploy_settings_item('mailbox');"
      class="pointer">
        <i class="ico_mailbox fa-fw fa-hand-point-right far text-cyan"></i>&nbsp;
        <span class="fw400 large title_set">{{tr.mailbox}}</span>&nbsp;:
      </h3>

      <!-- hidden_mailbox -->
      <div class="hidden_mailbox animate-zoom large" style="display: none;">

				<!-- form id="form_mailbox" -->
				<form id="form_mailbox">

					<p class="marg">
						<i class="fa-exchange-alt fas text-cyan"></i>&nbsp;
						{{tr.mailbox_info}}
					</p>

					<p>
						<label for="MAILBOX_HOST">
							<i class="fa-server fas text-amber"></i>&nbsp;
							{{tr.mailbox_host}}
						</label>
						<br>
						<input name="MAILBOX_HOST"
						class="border border-blue margin-top padding-small"
						value=""
						type="text"
						maxlength="300"
						placeholder="smtp.gmail.com"
						autocomplete="off">
					</p>

					<p>
						<label for="MAILBOX_PORT">
							<i class="fa-sitemap fas text-amber"></i>&nbsp;
							{{tr.mailbox_port}}
						</label>
						<br>
						<input name="MAILBOX_PORT"
						class="border border-blue margin-top padding-small"
						value=""
						type="text"
						maxlength="300"
						placeholder="465"
						autocomplete="off">
					</p>

					<p>
						<label for="MAILBOX_ACCOUNT">
							<i class="fa-envelope far text-amber"></i>&nbsp;
							{{tr.mailbox_address}}
						</label>
						<br>
						<input name="MAILBOX_ACCOUNT"
						class="border border-blue margin-top padding-small"
						value=""
						type="text"
						maxlength="300"
						placeholder="my-mailbox@gmail.com"
						autocomplete="off">
					</p>

					<p>
						<label for="MAILBOX_PASSW">
							<i class="fa-key fas text-amber"></i>&nbsp;
							{{tr.mailbox_password}}
						</label>
						<br>
						<input name="MAILBOX_PASSW"
						class="border border-blue margin-top padding-small"
						value=""
						type="text"
						maxlength="300"
						placeholder="{{tr.mailbox_password}}"
						autocomplete="off">
					</p>

					<p class="marg">

						<button onclick="$.update_mailbox('send');"
						id="update_mailbox"
						type="button"
						role="button"
						class="blue btn card margin-right round">
							<i class="fas fa-sign-in-alt"></i>&nbsp;
							{{tr.record}}
						</button>


						<button onclick="$.update_mailbox('clear');"
						type="button"
						role="button"
						class="gray btn card round">
							<i class="fas fa-ban"></i>&nbsp;
							{{tr.abort}}
						</button>

					</p>

				</form>
				<!-- end  form id="form_mailbox" -->

			</div>
			<!-- end  hidden_mailbox -->

    </div>
		<!-- end  MAILBOX -->


		<!-- PRODUCTION MODE -->
    <div id="prod_mode"
    class="card dark-gray panel round">

      <h3 onclick="$.deploy_settings_item('prod_mode');"
      class="pointer">
        <i class="ico_prod_mode fa-fw fa-hand-point-right far text-cyan"></i>&nbsp;
        <span class="fw400 large title_set">{{tr.prod_mode}}</span>&nbsp;:
      </h3>

      <!-- hidden_prod_mode -->
      <div class="hidden_prod_mode animate-zoom large" style="display: none;">

				<p class="text-amber">
					<i class="fa-info-circle fas"></i>&nbsp;
					{{{tr.prod_mode_info}}}
				</p>

				<p class="text-deep-orange">
					<i class="fa-exclamation-triangle fas"></i>&nbsp;
					{{tr.warning}}&nbsp;:
					<br>
					<i class="fa-skull-crossbones fas"></i>&nbsp;
					{{{tr.prod_mode_info_2}}}
				</p>

				<p>
					<button onclick="$.confirm_switch_prod_mode();"
					id="btn_prod_mode"
					type="button"
					role="button"
					class="blue btn card round">
					<i class="fas fa-sign-in-alt"></i>&nbsp;
					{{tr.prod_mode}}
					</button>
				</p>

			</div>
      <!-- end hidden_prod_mode -->

    </div>
		<!-- end  PRODUCTION MODE -->


  </div>
  <!-- div GEN id="settings" -->
</script>
<!-- END SETTINGS VUE -->


<!-- PARTIAL PLACIDO TOKEN STATE   -->
<script id="token_placido_state" type="text/html">

	<br>
	{{#user.token_Placido}}
	<span class="medium text-light-green">
		{{{tr.token_placido_recorded}}}
	</span>
	{{/user.token_Placido}}
	{{^user.token_Placido}}
	<span class="medium text-orange">
		{{{tr.token_placido_not_recorded}}}
	</span>
	{{/user.token_Placido}}

</script>
