
<!-- SHOP MODIFIER -->
<script id="shop" type="text/html">

	<div class="pad_product_form">

    <!-- START FORM -->
    <form id="form_shop"
    class="card-4 dark-gray large padding round">
    {{#shop}}

      <p class="shop_label_input" style="margin-top: 16px;">
        <i class="fas fa-toggle-off"></i>&nbsp; {{tr.shop_mode}}&nbsp;:
      </p>
      <p class="mrg0 indent" style="line-height: 36px;">
          <label onclick="$.check_mode_shop( event );"
          for="mode_sale"
          class="pointer">
            <i class="far fa-{{#mode}}check-{{/mode}}square
            text-green xxlarge"></i>&nbsp; {{tr.online_sale}}
          </label>
          <!-- hidden input radio -->
          <input type="radio"
          id="mode_sale"
          name="mode"
          value="sale"
          class="hide" {{#mode}}checked{{/mode}}>
        <br>
          <label onclick="$.check_mode_shop( event );"
          for="mode_catalog"
          class="pointer">
            <i class="far fa-{{^mode}}check-{{/mode}}square
            text-green xxlarge"></i>&nbsp; {{{tr.catalog_mode}}}
          </label>
          <!-- hidden input radio -->
          <input type="radio"
          id="mode_catalog"
          name="mode"
          value="catalog"
          class="hide" {{^mode}}checked{{/mode}}>
      </p>


      <p class="shop_label_input">
        <i class="far fa-edit"></i>&nbsp;
				{{tr.public_address_shop}}&nbsp;:
      </p>
      <p class="mrg0 indent">
				{{{tr.public_address_shop_info}}}
        <br>
        <textarea
        id="addr"
        name="addr"
        rows="4"
        maxlength="500"
        required
        class="border border-blue input margin-top padding-small">{{{addr}}}</textarea>
      </p>


      <p class="shop_label_input">
        <i class="far fa-edit"></i>&nbsp; {{{tr.public_tel_shop}}}
      </p>
      <p class="mrg0 indent">
				{{tr.public_tel_shop_info}}
        <br>
        <input
        id="tel"
        name="tel"
        value="{{tel}}"
        type="tel"
        maxlength="20"
        class="border border-blue input margin-top padding-small">
      </p>

      <p class="shop_label_input">
        <i class="far fa-edit"></i>&nbsp; {{tr.company_informations}}&nbsp;:
      </p>
      <p class="mrg0 indent">
				{{{tr.company_informations_info}}}
        <br>
        <textarea
        id="legal_addr"
        name="legal_addr"
        rows="4"
        maxlength="500"
        required
        class="border border-blue input margin-top padding-small">{{legal_addr}}</textarea>
      </p>

      <p class="shop_label_input">
        <i class="far fa-edit"></i>&nbsp;
				{{tr.bill_legal_text}}&nbsp;:
      </p>
      <p class="mrg0 indent">
        {{{tr.bill_legal_text_info}}}
        <br>
        <textarea
        id="legal_mention"
        name="legal_mention"
        rows="4"
        required
        class="border border-blue input margin-top padding-small">{{legal_mention}}</textarea>
      </p>

      <!-- BTN ADD IMAGE -->
      <div class="shop_label_input">

        <span onclick="$.add_img_prod();"
        class="blue btn card margin-bottom margin-top round">
          <i class="far fa-image"></i>&nbsp; {{tr.add_logo_shop_image}}
        </span>
        <!-- hidden input -->
        <input
        id="img"
        name="img"
        type="file"
        class="hide">

        <!-- logo explanation -->
        <p class="margin-bottom mrg0">
					{{tr.logo_shop_image_info}}
        </p>

        <!-- !!  CONTAINER IMG !!  -->
        <div id="rows_img"
        style="justify-content: left;"></div>

      </div>
      <!-- END BTN ADD IMG -->

      <!-- BUTTONS -->
      <p>
        <span onclick="$.update_shop();"
        id="sub_update_shop"
        class="blue btn card round">
            <i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.record}}
        </span>
      </p>

    {{/shop}}
    </form>
    <!-- END FROM -->
	</div>
</script>
<!-- SHOP MODIFIER -->
