<!--   STATS   -->
<script id="stats" type="text/html">

<style type="text/css">
	.add_space {
	    margin: 10px 0 10px;
	}
	#token_input input {
		    font-size: 20px;
		    font-weight: 600;
		    min-width: 100%;
		    margin: 10px 0 6px;
		    color: #3c3c3c;
	}
	#stats_header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 16px 0 0;
	}
	#stats_context {
		text-align: left;
		order: 1;
	}
	#stats_nav {
		text-align: center;
		order: 2;
	}
	#period_selector {
		padding: 8px 14px 16px;
		max-width: 80%;
	}
	#chart_types {
		text-align: right;
		order: 3;
	}
	#title_stats {
		margin: 0;
	}
	#render_day {
		color: #37bcd4;
	}
	#block_infos_stats {
		margin: 20px 0 20px;
	}
	.localities {
		margin: 16px 0 32px;
		background: #ffffff12;
		border-radius: 8px;
		display: none;
	}
	.title_chart {
		font-size: 22px;
		display: inline-block;
		margin: 16px auto 16px;
	}
	.chars {
		width: 100%;
	}
	canvas {
	}
	@media only screen and (max-width: 1024px){
		#stats_context {
			order: 1;
		}
		#stats_nav {
			order: 3;
			width: 100%;
		}
		#chart_types {
			order: 2;
		}
	}
	@media only screen and (max-width: 900px) {

		#stats_context {
			width: 100%;
			margin-bottom: 10px;
		}
		#chart_types {
			text-align: left;
			margin-bottom: 10px;
		}

		#stats_nav {
			display: flex;
			flex-flow: row;
			margin: 0;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		.string_btn {
			display: none;
		}
		#title_stats {
			font-size: 20px;
			text-align: center;
		}
	}
</style>
<!-- CONTAINER GEN -->
<div id="stats" class="pad_product_form">

	<button onclick="deploy_form_token_stats();"
	id="deploy_form_token_stats"
	class="btn card gree round small small_btn"
	role="button">
    <i class="fa-hand-point-right far"></i>&nbsp;
		{{tr.record_stats_token_api}} IPinfo &nbsp;<i class="fa-info-circle fas"></i>
  </button>

	<div id="token_input"
	class="card container dark-gray hide margin-bottom mobile round"
	style="margin-top: 24px;padding-bottom: 10px;">

		<p class="medium">
			<i class="fa-info-circle fas"></i>&nbsp; {{tr.infos_stats_token_api}}
			<a href="https://ipinfo.io/account/login"
			title="For start create a free account on the website IPinfo.io"
			target="_blank"
			class="large underline text-amber">IPinfo.io</a> ( {{tr.see_token_tab}} ).
			<br>
			<i class="far fa-hand-point-right"></i>&nbsp; {{tr.start_with_ip_info}}.
			<br>
			{{tr.paste_your_stats_token_api}}.
			<br>
			<span class="text-orange">
				<i class="fa-info-circle fas"></i>&nbsp;&nbsp;{{tr.warning}}&nbsp;:
			</span>
			{{{tr.erase_stats_token_api}}}
		</p>

		<div style="width: 400px;">

			<label for="token_api"
			class="inline-block large">{{tr.enter_your_stats_token_api}}&nbsp;:</label>

			<br>

			<span class="medium">
				{{#stats.token_api}}
				<span class="state_token_api text-light-green">(&nbsp;{{tr.stats_token_api_recorded}}&nbsp;)</span>
				{{/stats.token_api}}
				{{^stats.token_api}}
				<span class="state_token_api text-amber">(&nbsp;{{tr.empty_stats_token_api}}&nbsp;)</span>
				{{/stats.token_api}}
			</span>

			<br>

			<input id="token_api"
			name="token_api"
			type="text"
			maxlength="500"
			autocomplete="off"
			class="border padding-small round">

		</div>


		<button onclick="record_stats_token_api(event);"
		id="record_stats_token"
		type="submit"
		class="add_space blue btn card round">
		<i class="fas fa-sign-in-alt"></i>&nbsp; {{tr.record}}</button>

	</div>
	<!-- end token_input -->


	<!-- stats_header -->
	<div id="stats_header">

		<!-- select context of datas  -->
		<div id="stats_context">
			<button onclick="select_context(event, 'localities');"
			id="btn-localities"
			class="chart_context gree btn card round margin-right"
			aria-label="{{tr.localities}}">
			<i class="fas fa-globe xlarge"
			style="vertical-align: text-bottom;"></i>
			</button>

			<button onclick="select_context(event, 'days');"
			id="btn-days"
			class="chart_context blue btn card round margin-right"
			aria-label="{{tr.visitors}}">
			<i class="fas fa-users xlarge"
			style="vertical-align: text-bottom;"></i>
			</button>

			<button onclick="select_context(event, 'products');"
			id="btn-products"
			class="chart_context blue btn card round margin-right"
			aria-label="{{tr.stats_products}}">
			<i class="fas fa-th xlarge"
			style="vertical-align: text-bottom;"></i>
			</button>

			<button onclick="select_context(event, 'cart');"
			id="btn-cart"
			class="chart_context blue btn card round margin-right"
			aria-label="{{tr.stats_cart}}">
			<i class="fas fa-dolly xlarge"
			style="vertical-align: text-bottom;"></i>
			</button>
		</div>
		<!-- select context of datas  -->

		<!-- stats navigation -->
		<div id="stats_nav">

			<button onclick="navigate_BY_period( 'before' );"
		  class="stats_navigators blue btn card round margin-right">
		    <i class="fas fa-angle-left xlarge"
		      style="vertical-align: text-bottom;"></i>&nbsp;
					<span class="string_btn">{{tr.move_back}}</span>
		  </button>

			<div class="dropdown-click inline-block margin-right">

				<button onclick="show_period_selector(event);"
				class="blue btn card round">
					<i class="fas fa-chevron-down"></i>&nbsp;
					<span id="label_period">{{tr.Day}}</span>
				</button>

				<div id="period_selector"
				class="card-4 dropdown-content round">
					<button onclick="bind_select_period('d', event);"
					class="bar border border-gray btn center round">{{tr.Day}}</button>
					<button onclick="bind_select_period('w', event);"
					class="bar border border-gray btn center round">{{tr.week}}</button>
					<button onclick="bind_select_period('m', event);"
					class="bar border border-gray btn center round">{{tr.month}}</button>
					<button onclick="bind_select_period('y', event);"
					class="bar border border-gray btn center round">{{tr.year}}</button>
				</div>

			</div>

		  <span class="hide">
		    <select onchange="select_period();"
		    id="sort_stats"
		    name="sort_stats"
		    class="stats_navigators white btn card round margin-right"
		    style="padding: 4px 12px 5px;">
		      <option value="d">{{tr.Day}}</option>
					<option value="w">{{tr.week}}</option>
		      <option value="m">{{tr.month}}</option>
		      <option value="y">{{tr.year}}</option>
		    </select>
		  </span>

		  <button onclick="navigate_BY_period( 'after' );"
		  class="stats_navigators blue btn card round margin-right">
			<span class="string_btn">{{tr.forward}}</span>
		     &nbsp;<i class="fas fa-angle-right xlarge"
		      style="vertical-align: text-bottom;"></i>
		  </button>

			<button onclick="get_today();"
		  class="blue btn card round"
			aria-label="{{tr.stats_for_today}}">
		  <i class="fas fa-recycle xlarge"
		      style="vertical-align: text-bottom;"></i>
		  </button>

		</div>
		<!-- end stats navigation -->

		<!-- chart types choice -->
		<div id="chart_types">
			<button onclick="select_chart_type(event, 'doughnut');"
			id="btn-doughnut"
			class="chart_type gree btn card round margin-right"
			aria-label="{{tr.chart_type_doughnut}}">
				<i class="fas fa-chart-pie xlarge"
				style="vertical-align: text-bottom;"></i>
			</button>

			<button onclick="select_chart_type(event, 'line');"
			id="btn-line"
			class="chart_type blue btn card round margin-right"
			aria-label="{{tr.chart_type_line}}">
				<i class="fas fa-chart-line xlarge"
				style="vertical-align: text-bottom;"></i>
			</button>

			<button onclick="select_chart_type(event, 'bar');"
			id="btn-bar"
			class="chart_type blue btn card round"
			aria-label="{{tr.chart_type_bar}}">
				<i class="fa-chart-bar fas xlarge"
				style="vertical-align: text-bottom;"></i>
			</button>
		</div>
		<!-- chart types choice -->

	</div>
	<!-- end stats_header -->


  <!-- TITLE date + render infos stats -->
  <div id="block_infos_stats">

		<!-- title of stats ex. 'Year : 2022' -->
    <p class="center fw400 xlarge mrg0">
			<i class="fa-calendar-alt far text-purple xlarge fa-fw"></i>&nbsp;
			<span id="title_stats"></span>
    </p>

		<!-- render date start / date end  -->
		<p class="center fw400 large mrg0">
			<span id="date_start">
				<span class="large stats_loader">
					<i class="fa-circle-notch fa-fw fa-spin far fas xlarge"></i>
					&nbsp; {{tr.loading_datas}}&nbsp;...</span>
			</span>
			<span id="date_end"></span>
		</p>

    <!-- RENDER VISITS -->
		<p class="center fw400 xlarge mrg0">
			<span>
				<i id="icon_render_nb_visits"
				class="fa-globe fas text-cyan xlarge fa-fw"></i>&nbsp;
				<span id="total_nb_visits">
				</span>
			</span>
		</p>

  </div>
	<!-- container title date + render infos stats -->


	<!-- Charts -->
  <div class="center">

		<!-- cities -->
		<div class="localities">
			<span class="title_chart"></span>

			<div class="chars">
				<canvas id="cities"></canvas>
			</div>
		</div>

		<!-- regions -->
		<div class="localities">
			<span class="title_chart"></span>

			<div class="chars">
				<canvas id="regions"></canvas>
			</div>
		</div>

		<!-- countries -->
		<div class="localities">
			<span class="title_chart"></span>

			<div class="chars">
				<canvas id="countries"></canvas>
			</div>
		</div>

		<!-- timezones -->
		<div class="localities">
			<span class="title_chart"></span>

			<div class="chars">
				<canvas id="timezones"></canvas>
			</div>
		</div>

  </div>
	<!-- end Charts -->


</div>
<!-- END CONTAINER GEN -->

</script>
<!--  END  STATS   -->
